Repository myparcelnl/delivery-options, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/frontend, @myparcelnl/integration, @myparcelnl/it-support

.github/CODEOWNERS:

# --- Only frontend developers ---
*  @myparcelnl/frontend

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Exceptions ---
# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support

refactor: reduce ambiguity in carrier and platform definitions
  apps/delivery-options/src/composables/useActiveCarriers.spec.ts
  apps/delivery-options/src/composables/useActiveCarriers.ts
  apps/delivery-options/src/composables/useCurrentPlatform.ts
  apps/delivery-options/src/composables/useDeliveryMomentOptions.ts
  apps/delivery-options/src/composables/useResolvedCarrier.ts
  apps/delivery-options/src/composables/useResolvedDeliveryOptions.ts
  apps/delivery-options/src/composables/useShipmentOptionsOptions.ts
  apps/delivery-options/src/types/carriers.types.ts
  apps/delivery-options/src/utils/createGetDeliveryOptionsParameters.ts
  apps/delivery-options/src/utils/getResolvedCarrier.ts
  apps/delivery-options/src/utils/waitForRequestData.ts
  apps/sandbox/src/components/SandboxAddressBox.vue
  apps/sandbox/src/components/SandboxCarrierFormSections.vue
  apps/sandbox/src/composables/useAvailableCarriers.ts
  apps/sandbox/src/composables/useCurrentPlatform.ts
  apps/sandbox/src/form/allParentsHave.ts
  apps/sandbox/src/form/availableInPlatform.ts
  apps/sandbox/src/form/createChildFields.ts
  apps/sandbox/src/form/createSandboxField.ts
  libs/shared/src/composables/index.ts
  libs/shared/src/composables/useCarrier.ts
  libs/shared/src/composables/useCarriers.ts
  libs/shared/src/composables/useFullCarrier.spec.ts
  libs/shared/src/composables/useFullCarrier.ts
  libs/shared/src/composables/usePlatform.ts
  libs/shared/src/composables/useResolvedPlatform.ts
  libs/shared/src/types/carriers.types.ts
  libs/shared/src/types/platform.types.ts
  libs/shared/src/utils/getConfigKey.ts
  libs/shared/src/utils/getDeliveryTypeConfigMap.ts
  libs/shared/src/utils/getFullCarrier.spec.ts
  libs/shared/src/utils/getFullCarrier.ts
  libs/shared/src/utils/getShipmentOptionConfigMap.ts
  libs/shared/src/utils/index.ts
  libs/shared/src/utils/waitForRequestData.ts
Owners: @myparcelnl/frontend

fix: stop breaking on myparcelnl dpd invalid carrier error
  libs/shared/src/data/errors.ts
Owners: @myparcelnl/frontend

feat: handle deprecated allowDeliveryOptions behavior
  apps/delivery-options/src/config/handleDeprecatedOptions.spec.ts
  apps/delivery-options/src/config/handleDeprecatedOptions.ts
Owners: @myparcelnl/frontend

fix: get prices of other package types correctly
  apps/delivery-options/src/utils/getConfigPriceKey.ts
  apps/delivery-options/src/utils/getDeliveryTypePrice.ts
  libs/shared/src/composables/useCarrier.ts
  libs/shared/src/types/config.types.ts
  libs/shared/src/utils/getAllConfigOptions.ts
  libs/shared/src/utils/getConfigKey.ts
  libs/shared/src/utils/getDeliveryTypeConfigMap.ts
  libs/shared/src/utils/getPackageTypePriceKey.ts
  libs/shared/src/utils/index.ts
Owners: @myparcelnl/frontend

refactor: remove comment
  libs/shared/src/utils/declareOptionWithPrice.ts
Owners: @myparcelnl/frontend

fix(sandbox): correct component key
  apps/sandbox/src/components/form/SandboxSettingsGroup.vue
Owners: @myparcelnl/frontend

fix(design): fix date loader not showing
  apps/delivery-options/src/composables/useFeatures.ts
  apps/delivery-options/src/composables/useResolvedDeliveryOptions.ts
  apps/delivery-options/src/data/constants.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryDateSelector/DateSelector.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryDateSelector/DeliveryDateSelector.vue
  libs/shared/src/utils/addLoadingProperty.ts
  libs/shared/src/utils/computedAsync.ts
  libs/shared/src/utils/index.ts
Owners: @myparcelnl/frontend

build: fix build errors
  apps/delivery-options/src/utils/index.ts
  apps/delivery-options/src/utils/waitForRequestData.ts
  libs/shared/src/__tests__/mocks/delivery-options/findExtraDelivery.ts
  libs/shared/src/__tests__/mocks/delivery-options/getNextDeliveryOption.ts
  libs/shared/src/composables/sdk/index.ts
  libs/shared/src/composables/useCarrier.ts
  libs/shared/src/utils/getPackageTypePriceKey.ts
Owners: @myparcelnl/frontend

perf: remove excess css classes
  apps/delivery-options/src/components/common/DoButton/DoButton.vue
  libs/shared/src/components/Loader.ts
Owners: @myparcelnl/frontend

refactor: remove console.log
  apps/delivery-options/src/composables/useFeatures.ts
Owners: @myparcelnl/frontend

test: fix tests
  apps/delivery-options/src/composables/useActiveCarriers.spec.ts
  apps/delivery-options/src/composables/useActiveCarriers.ts
  apps/delivery-options/src/types/carriers.types.ts
  apps/delivery-options/src/utils/getResolvedCarrier.ts
  libs/shared/src/__tests__/vitest-setup.ts
  libs/shared/src/composables/sdk/useRequest.ts
  libs/shared/src/utils/getConfigKey.spec.ts
Owners: @myparcelnl/frontend

fix(config): improve default configurations
  apps/delivery-options/src/config/__snapshots__/getDefaultConfigForPlatform.spec.ts.snap
  apps/delivery-options/src/config/handleDeprecatedOptions.spec.ts
  apps/delivery-options/src/config/handleDeprecatedOptions.ts
  apps/delivery-options/src/utils/getResolvedCarrier.ts
  apps/delivery-options/src/utils/getResolvedValue.ts
  apps/sandbox/src/composables/useAddressSelector.ts
  apps/sandbox/src/config/getDefaultSandboxAddress.ts
  apps/sandbox/src/config/getDefaultSandboxCarrierSettings.ts
  apps/sandbox/src/config/getDefaultSandboxConfig.ts
  apps/sandbox/src/config/getDefaultSandboxConfiguration.ts
  apps/sandbox/src/config/index.ts
  apps/sandbox/src/form/formField.ts
  apps/sandbox/src/stores/useSandboxStore.ts
  apps/sandbox/src/utils/index.ts
  libs/shared/src/data/getDefaultCarrierSettings.ts
  libs/shared/src/data/getDefaultDeliveryOptionsConfig.ts
  libs/shared/src/types/config.types.ts
  libs/shared/src/utils/getDefaultValueForType.ts
  libs/shared/src/utils/index.ts
Owners: @myparcelnl/frontend

fix(delivery): do not show shipment options that are unavailable
  apps/delivery-options/src/composables/useShipmentOptionsOptions.ts
Owners: @myparcelnl/frontend

fix(pickup): fix type error when carrier is not loaded yet
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationMapMarker/PickupLocationMapMarker.vue
Owners: @myparcelnl/frontend

chore(deps): resolve @myparcel/constants to ^2.0.0
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(pickup): fix carrier logos not showing in pickup
  apps/delivery-options/src/utils/createCarrierMarkerIcon.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationMapMarker/PickupLocationMapMarker.vue
Owners: @myparcelnl/frontend

fix(pickup): remove unsupported pickup countries from dhlparcelconnect
  apps/delivery-options/src/utils/createGetDeliveryOptionsParameters.ts
  libs/shared/src/config/getMyParcelConfig.ts
  libs/shared/src/utils/__snapshots__/getPlatformConfig.spec.ts.snap
Owners: @myparcelnl/frontend

fix: improve switching between carriers and countries
  apps/delivery-options/src/composables/useResolvedDeliveryDates.ts
  apps/delivery-options/src/composables/useResolvedDeliveryMoments.ts
  apps/delivery-options/src/composables/useResolvedDeliveryOptions.ts
  apps/delivery-options/src/composables/useShipmentOptionsOptions.ts
  apps/delivery-options/src/utils/getResolvedDeliveryType.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryDateSelector/DateSelector.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryMomentSelector/DeliveryMomentInput.vue
Owners: @myparcelnl/frontend

fix: reduce unnecessary outgoing events
  apps/delivery-options/src/composables/events/useDeliveryOptionsOutgoingEvents.ts
  apps/delivery-options/src/composables/events/useResolvedValues.ts
Owners: @myparcelnl/frontend

fix(pickup): select and pan to correct markers on address change
  apps/delivery-options/src/components/map/LeafletMapInner/LeafletMapInner.vue
  apps/delivery-options/src/components/map/LeafletMarker/LeafletMarker.vue
  apps/delivery-options/src/types/map.types.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationMapMarker/PickupLocationMapMarker.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocations.vue
Owners: @myparcelnl/frontend

fix(pickup): fix error when unwatcher is called too soon
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocations.vue
Owners: @myparcelnl/frontend

fix(strings): fix delivery and package type translations
  apps/delivery-options/src/utils/language/createDeliveryTypeTranslatable.ts
  apps/delivery-options/src/utils/language/createPackageTypeTranslatable.ts
Owners: @myparcelnl/frontend

feat(sandbox): enable all carriers on first visit
  apps/sandbox/src/config/getDefaultSandboxCarrierSettings.ts
Owners: @myparcelnl/frontend

fix(sandbox): remove country filter
  apps/sandbox/src/components/AddressPresetBox.vue
  apps/sandbox/src/components/SandboxAddressBox.vue
  apps/sandbox/src/utils/createCountryTranslatable.ts
  apps/sandbox/src/utils/index.ts
  apps/sandbox/src/utils/translateCountry.ts
Owners: @myparcelnl/frontend

fix: fix carriers with "fake" delivery not showing
  apps/delivery-options/src/composables/useActiveCarriers.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/DeliveryOptionsForm/DeliveryOptionsForm.vue
Owners: @myparcelnl/frontend

fix(sandbox): fix country select placeholder label
  apps/sandbox/src/components/SandboxAddressBox.vue
  apps/sandbox/src/components/SandboxPackageTypeBox.vue
  apps/sandbox/src/components/SelectInput.vue
  libs/shared/src/data/stringsKeys.ts
Owners: @myparcelnl/frontend

fix(sandbox): fix country select translations
  apps/sandbox/src/components/SelectInput.vue
Owners: @myparcelnl/frontend

fix(sandbox): give the country select some space
  apps/sandbox/src/components/SandboxAddressBox.vue
Owners: @myparcelnl/frontend

fix: improve translations logic and reusability
  apps/delivery-options/src/composables/useActiveCarriers.ts
  apps/delivery-options/src/composables/useLanguage.ts
  apps/delivery-options/src/composables/useResolvedDeliveryMoments.ts
  apps/delivery-options/src/composables/useResolvedDeliveryOptions.ts
  apps/delivery-options/src/utils/language/createDeliveryTypeTranslatable.ts
  apps/delivery-options/src/utils/language/index.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryFitsInMailbox.vue
  apps/sandbox/package.json
  apps/sandbox/src/components/FieldWrapper.vue
  apps/sandbox/src/components/RadioGroupInput.vue
  apps/sandbox/src/components/SandboxConfiguration.vue
  apps/sandbox/src/components/SandboxPackageTypeBox.vue
  apps/sandbox/src/components/SandboxPlatformBox.vue
  apps/sandbox/src/components/base/SandboxRadioGroupInput.vue
  apps/sandbox/src/composables/useLanguage.ts
  apps/sandbox/src/form/formField.ts
  apps/sandbox/src/utils/index.ts
  apps/sandbox/src/utils/language/createCountryTranslatable.ts
  apps/sandbox/src/utils/language/createOptionTranslatable.ts
  apps/sandbox/src/utils/language/createPackageTypeTranslatable.ts
  apps/sandbox/src/utils/language/index.ts
  libs/shared/src/types/language.types.ts
  libs/shared/src/utils/index.ts
  libs/shared/src/utils/language/createTranslatable.ts
  libs/shared/src/utils/language/createUntranslatable.ts
  libs/shared/src/utils/language/index.ts
  libs/shared/src/utils/language/isTranslatable.ts
  libs/shared/src/utils/language/resolveTranslatable.ts
Owners: @myparcelnl/frontend, @myparcelnl/integration

test: update test result
  apps/delivery-options/src/composables/useActiveCarriers.spec.ts
Owners: @myparcelnl/frontend

fix(sandbox): fix language not being remembered
  apps/sandbox/src/composables/useLanguage.ts
Owners: @myparcelnl/frontend

refactor: use vue toValue instead of vueuse get
  apps/delivery-options/src/composables/useDateFormat.ts
  apps/delivery-options/src/composables/useMostEcoFriendly.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/DeliveryOptionsForm/DeliveryOptionsForm.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/MyParcelDeliveryOptions.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupLocationList.vue
  apps/sandbox/src/components/SandboxCarrierFormSections.vue
  apps/sandbox/src/components/form/input/FormDropOffSelector.vue
  apps/sandbox/src/composables/useAnchorLink.ts
  apps/sandbox/src/composables/useElInputClasses.ts
  apps/sandbox/src/form/generateConfigItemField.ts
  libs/shared/src/components/CarrierLogo.vue
  libs/shared/src/composables/form/calculateInitialValue.ts
  libs/shared/src/composables/form/useCheckboxGroupContext.ts
  libs/shared/src/composables/form/useInputOptions.ts
  libs/shared/src/composables/form/useInputWithOptionsContext.ts
  libs/shared/src/composables/sdk/useCarrierRequest.spec.ts
  libs/shared/src/composables/sdk/useCarrierRequest.ts
  libs/shared/src/composables/sdk/useCarriersRequest.spec.ts
  libs/shared/src/composables/sdk/useRequest.spec.ts
  libs/shared/src/composables/useCursor.ts
  libs/shared/src/composables/usePlatform.ts
  libs/shared/src/resolveRefKey.ts
Owners: @myparcelnl/frontend

test: enable some passing tests
  apps/delivery-options/src/main.spec.ts
Owners: @myparcelnl/frontend

test: add snapshot tests for index files
  apps/delivery-options/src/__snapshots__/index.spec.ts.snap
  apps/delivery-options/src/index.spec.ts
Owners: @myparcelnl/frontend

build: exclude non-src files from coverage
  libs/build-vite/index.js
Owners: @myparcelnl/frontend

test: enable sandbox tests
  apps/sandbox/package.json
  apps/sandbox/src/form/__snapshots__/getConfigurationSections.spec.ts.snap
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: remove unused files
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryFitsInMailbox.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationSelector/PickupLocationSelector.vue
Owners: @myparcelnl/frontend

refactor: increase coverage by removing unreachable code
  libs/shared/src/composables/form/generateFieldId.spec.ts
  libs/shared/src/composables/form/generateFieldId.ts
Owners: @myparcelnl/frontend

chore(deps): update lockfile
  yarn.lock
Owners: @myparcelnl/frontend

chore(deps): add missing sandbox dev dependencies
  apps/sandbox/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend
