Repository myparcelnl/delivery-options, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/frontend, @myparcelnl/integration, @myparcelnl/it-support

.github/CODEOWNERS:

# --- Only frontend developers ---
*  @myparcelnl/frontend

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Exceptions ---
# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support

build: extract semantic release stuff to package
  apps/delivery-options/package.json
  apps/delivery-options/release.config.cjs
  apps/sandbox/package.json
  libs/semantic-release-plugin/.gitignore
  libs/semantic-release-plugin/package.json
  libs/semantic-release-plugin/src/index.ts
  libs/semantic-release-plugin/src/prepare.ts
  libs/semantic-release-plugin/src/publish/getChannel.ts
  libs/semantic-release-plugin/src/publish/index.ts
  libs/semantic-release-plugin/src/publish/removeWorkspaceDependencies.ts
  libs/semantic-release-plugin/src/types.ts
  libs/semantic-release-plugin/src/utils/errorHandling.ts
  libs/semantic-release-plugin/src/utils/execute.ts
  libs/semantic-release-plugin/src/utils/getPackageJson.ts
  libs/semantic-release-plugin/src/utils/index.ts
  libs/semantic-release-plugin/src/verifyConditions.ts
  libs/semantic-release-plugin/tsconfig.base.json
  libs/shared/package.json
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): update codecov/codecov-action to v4
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): update peter-evans/rebase to v3
  .github/workflows/push.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(release): add git functionality
  apps/delivery-options/release.config.cjs
  libs/semantic-release-plugin/src/prepare/gitCommit.ts
  libs/semantic-release-plugin/src/prepare/index.ts
  libs/semantic-release-plugin/src/prepare/updatePackageJsonVersions.ts
  libs/semantic-release-plugin/src/types.ts
  libs/semantic-release-plugin/src/utils/executeWithErrorHandling.ts
  libs/semantic-release-plugin/src/utils/index.ts
  libs/semantic-release-plugin/src/verifyConditions.ts
Owners: @myparcelnl/frontend

Notes added by 'git notes add'
  1b981689f8966c6f9a251f7e8190f098571d7519
Owners: @myparcelnl/frontend

build(release): move git push to publish step
  libs/semantic-release-plugin/src/prepare/gitCommit.ts
  libs/semantic-release-plugin/src/publish/gitPush.ts
  libs/semantic-release-plugin/src/publish/index.ts
  libs/semantic-release-plugin/src/publish/publishNpmPackage.ts
  libs/semantic-release-plugin/src/utils/getPackageJson.ts
Owners: @myparcelnl/frontend

build(release): update error handling
  libs/semantic-release-plugin/src/publish/gitPush.ts
  libs/semantic-release-plugin/src/utils/executeWithErrorHandling.ts
Owners: @myparcelnl/frontend

build(release): move github release to the end of the chain
  apps/delivery-options/release.config.cjs
Owners: @myparcelnl/frontend

build(release): enable npm publish
  libs/semantic-release-plugin/src/publish/publishNpmPackage.ts
Owners: @myparcelnl/frontend

build(release): move logging to before actions
  libs/semantic-release-plugin/src/prepare/updatePackageJsonVersions.ts
  libs/semantic-release-plugin/src/publish/gitPush.ts
Owners: @myparcelnl/frontend

build(release): set npm token in prepare step
  libs/semantic-release-plugin/src/prepare/index.ts
  libs/semantic-release-plugin/src/prepare/setNpmAuth.ts
Owners: @myparcelnl/frontend

build(release): set npm token via .npmrc
  libs/semantic-release-plugin/src/prepare/setNpmAuth.ts
Owners: @myparcelnl/frontend

docs: update readme and changelog
  CHANGELOG-v6.md
  README.md
  apps/delivery-options/CHANGELOG.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

feat: add basic error handling
  apps/delivery-options/src/config/setConfiguration.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Errors.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/MyParcelDeliveryOptions.vue
  libs/shared/src/composables/index.ts
  libs/shared/src/composables/sdk/useCarriersRequest.ts
  libs/shared/src/composables/sdk/useDeliveryOptionsRequest.ts
  libs/shared/src/composables/sdk/usePickupLocationsRequest.ts
  libs/shared/src/composables/sdk/useRequest.ts
  libs/shared/src/composables/useApiExceptions.ts
  libs/shared/src/data/errors.ts
  libs/shared/src/data/index.ts
  libs/shared/src/types/query.types.ts
Owners: @myparcelnl/frontend

build(sandbox): import delivery options via src
  apps/sandbox/vite.config.ts
Owners: @myparcelnl/frontend

build: update tsconfigs
  tsconfig.json
  tsconfig.paths.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: update tsconfig
  tsconfig.paths.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(design): show proper loaders for delivery when changing config
  apps/delivery-options/src/components/form/GroupInput/GroupInputLoader.vue
  apps/delivery-options/src/components/index.ts
  apps/delivery-options/src/components/loaders/CarrierLogoLoader.vue
  apps/delivery-options/src/components/loaders/RadioButtonLoader.vue
  apps/delivery-options/src/components/loaders/index.ts
  apps/delivery-options/src/composables/index.ts
  apps/delivery-options/src/composables/useActiveCarriers.ts
  apps/delivery-options/src/composables/useResolvedCarrier.ts
  apps/delivery-options/src/composables/useResolvedDeliveryDates.ts
  apps/delivery-options/src/composables/useResolvedDeliveryMoments.ts
  apps/delivery-options/src/composables/useResolvedDeliveryOptions.ts
  apps/delivery-options/src/composables/useShipmentOptionsOptions.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryDateSelector/DateSelector.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryMomentSelector/DeliveryMomentSelector.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryMomentSelector/DeliveryMomentSelectorLoader.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/ShipmentOptionsSelector/ShipmentOptionsSelector.vue
  apps/sandbox/src/composables/useAvailableCarriers.ts
  libs/shared/src/components/Box.vue
  libs/shared/src/components/CarrierBox.vue
  libs/shared/src/components/index.ts
  libs/shared/src/composables/useFullCarrier.ts
  libs/shared/src/utils/computedAsync.spec.ts
  libs/shared/src/utils/computedAsync.ts
  libs/shared/src/utils/index.ts
Owners: @myparcelnl/frontend

refactor: clean up component imports
  apps/delivery-options/src/components/index.ts
  apps/delivery-options/src/components/map/index.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryMomentSelector/DeliveryMomentInput.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupLocationCarrierGroup.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupLocationName.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationMap/PickupLocationMap.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationMapMarker/PickupLocationMapMarker.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationOpeningHours/PickupLocationOpeningHours.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocations.vue
Owners: @myparcelnl/frontend

feat(design): hide date arrows if all dates are visible
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryDateSelector/DateSelector.vue
Owners: @myparcelnl/frontend

refactor: clean up imports
  apps/sandbox/src/components/SandboxAddressBox.vue
  apps/sandbox/src/composables/index.ts
Owners: @myparcelnl/frontend

feat(design): update some colors and paddings
  apps/delivery-options/src/views/MyParcelDeliveryOptions/DeliveryOptionsForm/DeliveryOptionsForm.vue
  apps/sandbox/src/assets/_tables.scss
  apps/sandbox/src/assets/_typography.scss
  apps/sandbox/src/assets/style.scss
  libs/shared/src/components/CarrierBox.vue
Owners: @myparcelnl/frontend, @myparcelnl/integration

feat(design): add loader to pickup map and list
  apps/delivery-options/src/components/form/GroupInput/GroupInputLoader.vue
  apps/delivery-options/src/components/loaders/CarrierBoxLoader.vue
  apps/delivery-options/src/components/loaders/RadioButtonLoader.vue
  apps/delivery-options/src/components/loaders/index.ts
  apps/delivery-options/src/components/map/LeafletMap/LeafletMap.vue
  apps/delivery-options/src/composables/useResolvedPickupLocations.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryMomentSelector/DeliveryMomentSelectorLoader.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/ShipmentOptionsSelector/ShipmentOptionsSelector.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupLocationListLoader.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupLocationListWrapper.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationMap/PickupLocationMapLoader.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationMap/PickupLocationMapWrapper.vue
Owners: @myparcelnl/frontend

fix(sandbox): fix delivery options demo not being sticky
  apps/sandbox/src/App.vue
Owners: @myparcelnl/frontend

fix(sandbox): add missing translations
  apps/sandbox/src/App.vue
  apps/sandbox/src/DeliveryOptionsDemo.vue
  apps/sandbox/src/components/SandboxAddressBox.vue
  apps/sandbox/src/components/SandboxCarrierConfigBox.vue
  apps/sandbox/src/components/SandboxPlatformBox.vue
  apps/sandbox/src/env.d.ts
Owners: @myparcelnl/frontend

build(sandbox): define process.env.NODE_ENV
  apps/sandbox/vite.config.ts
Owners: @myparcelnl/frontend

fix(pickup): fix map not working
  apps/delivery-options/src/components/map/LeafletMap/LeafletMap.vue
  apps/delivery-options/src/components/map/LeafletMapInner/LeafletMapInner.vue
  apps/delivery-options/src/components/map/LeafletMarker/LeafletMarker.vue
  apps/delivery-options/src/components/map/index.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationMap/PickupLocationMap.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationMap/PickupLocationMapWrapper.vue
Owners: @myparcelnl/frontend

fix(pickup): select first location on switch to pickup
  apps/delivery-options/src/components/map/LeafletMapInner/LeafletMapInner.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationMap/PickupLocationMap.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocations.vue
Owners: @myparcelnl/frontend

fix(pickup): sort carriers by defined order
  apps/delivery-options/src/composables/useResolvedPickupLocations.ts
Owners: @myparcelnl/frontend

build(gha): add workflow_dispatch to push yml
  .github/workflows/push.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: fix broken import
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocations.vue
Owners: @myparcelnl/frontend

fix: show prices on shipment options
  apps/delivery-options/src/components/form/GroupInput/GroupInput.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryMomentSelector/DeliveryMomentInput.vue
Owners: @myparcelnl/frontend

fix: show correct prices on monday, saturday and same-day delivery
  apps/delivery-options/src/composables/events/useResolvedValues.ts
  apps/delivery-options/src/composables/useResolvedDeliveryOptions.ts
  apps/delivery-options/src/types/form.types.ts
  apps/delivery-options/src/utils/getConfigPriceKey.spec.ts
  apps/delivery-options/src/utils/getDeliveryTypePrice.spec.ts
  apps/delivery-options/src/utils/getResolvedDeliveryType.spec.ts
  apps/delivery-options/src/utils/getResolvedDeliveryType.ts
  apps/delivery-options/src/utils/index.ts
  libs/shared/src/types/output.types.ts
  libs/shared/src/types/platform.types.ts
  libs/shared/src/utils/getDeliveryTypeConfigMap.ts
Owners: @myparcelnl/frontend

fix(pickup): show prices in pickup locations list
  apps/delivery-options/src/composables/useFormatDistance.ts
  apps/delivery-options/src/types/components.types.ts
  apps/delivery-options/src/utils/getDeliveryTypePrice.spec.ts
  apps/delivery-options/src/utils/getDeliveryTypePrice.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryMomentSelector/DeliveryMomentSelector.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupLocationCarrierGroup.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupLocationListItem.vue
  libs/shared/src/components/CarrierBox.vue
Owners: @myparcelnl/frontend

test: update snapshots
  libs/shared/src/utils/__snapshots__/getDeliveryTypeConfigMap.spec.ts.snap
Owners: @myparcelnl/frontend

fix: show same-day delivery when enabled
  apps/delivery-options/src/utils/createGetDeliveryOptionsParameters.ts
Owners: @myparcelnl/frontend

test: update delivery options parameters test
  apps/delivery-options/src/utils/createGetDeliveryOptionsParameters.spec.ts
Owners: @myparcelnl/frontend

chore(deps): update @myparcel dependencies
  apps/delivery-options/package.json
  apps/sandbox/package.json
  libs/shared/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: separate allowDeliveryOptions and allowStandardDelivery
  apps/delivery-options/src/composables/useResolvedDeliveryOptions.ts
  apps/delivery-options/src/config/__snapshots__/getDefaultConfigForPlatform.spec.ts.snap
  apps/delivery-options/src/utils/createGetDeliveryOptionsParameters.spec.ts
  apps/delivery-options/src/utils/getResolvedCarrier.ts
  apps/sandbox/src/components/SandboxPackageTypeBox.vue
  apps/sandbox/src/components/form/SandboxSettingsGroup.vue
  apps/sandbox/src/components/form/SandboxSettingsSection.vue
  apps/sandbox/src/config/getDefaultSandboxConfiguration.ts
  apps/sandbox/src/form/availableInPlatform.ts
  apps/sandbox/src/form/getAllSandboxConfigOptions.ts
  apps/sandbox/src/form/getConfigSandboxSections.ts
  libs/shared/src/config/getMyParcelConfig.ts
  libs/shared/src/data/carrierFeatures.ts
  libs/shared/src/data/enums.ts
  libs/shared/src/data/getDefaultCarrierSettings.ts
  libs/shared/src/data/index.ts
  libs/shared/src/utils/__snapshots__/getDeliveryTypeConfigMap.spec.ts.snap
  libs/shared/src/utils/__snapshots__/getPlatformConfig.spec.ts.snap
  libs/shared/src/utils/getAllConfigOptions.ts
  libs/shared/src/utils/getConfigKey.spec.ts
  libs/shared/src/utils/getConfigKey.ts
  libs/shared/src/utils/getDeliveryTypeConfigMap.ts
  libs/shared/src/utils/getPackageTypeConfigMap.ts
  libs/shared/src/utils/index.ts
Owners: @myparcelnl/frontend

feat: support mailbox and digital stamp
  apps/delivery-options/src/composables/index.ts
  apps/delivery-options/src/composables/useDeliveryMomentOptions.ts
  apps/delivery-options/src/composables/useFeatures.ts
  apps/delivery-options/src/composables/useResolvedDeliveryDates.ts
  apps/delivery-options/src/composables/useResolvedDeliveryMoments.ts
  apps/delivery-options/src/composables/useShipmentOptionsOptions.ts
  apps/delivery-options/src/utils/getConfigPriceKey.ts
  apps/delivery-options/src/utils/getDeliveryTypePrice.ts
  apps/delivery-options/src/utils/getResolvedCarrier.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryDateSelector/DateSelector.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryDateSelector/DeliveryDateSelector.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryFitsInMailbox.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryMomentSelector/DeliveryMomentInput.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryMomentSelector/DeliveryMomentSelector.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/ShipmentOptionsSelector/ShipmentOptionsSelector.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/DeliveryOptionsForm/DeliveryOptionsForm.vue
  apps/sandbox/src/components/SandboxConfiguration.vue
  apps/sandbox/src/components/base/SandboxRadioGroupInput.vue
  libs/shared/src/data/getDefaultDeliveryOptionsConfig.ts
  libs/shared/src/data/settingsConsts.ts
  libs/shared/src/types/config.types.ts
  libs/shared/src/types/output.types.ts
Owners: @myparcelnl/frontend
