Repository myparcelnl/delivery-options, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/frontend, @myparcelnl/integration, @myparcelnl/it-support

.github/CODEOWNERS:

# --- Only frontend developers ---
*  @myparcelnl/frontend

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Exceptions ---
# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support

refactor: fix type errors in fake delivery options result
  apps/delivery-options/src/composables/useResolvedDeliveryOptions.ts
  apps/delivery-options/src/types/form.types.ts
Owners: @myparcelnl/frontend

fix(sandbox): use correct postal code for german address
  apps/sandbox/src/composables/useAddressSelector.ts
Owners: @myparcelnl/frontend

refactor: remove unnecessary async
  libs/shared/src/composables/sdk/useDeliveryOptionsRequest.ts
Owners: @myparcelnl/frontend

fix: fix carrier not being disabled when allowDeliveryOptions is off
  apps/delivery-options/src/utils/getResolvedCarrier.ts
Owners: @myparcelnl/frontend

chore: update ide files
  .idea/.gitignore
Owners: @myparcelnl/frontend

fix: show delivery dates in correct order
  apps/delivery-options/src/composables/useResolvedDeliveryDates.ts
Owners: @myparcelnl/frontend

test: add initial test for resolved delivery dates
  apps/delivery-options/src/__tests__/utils/waitForDeliveryOptions.ts
  apps/delivery-options/src/composables/useResolvedDeliveryDates.spec.ts
  libs/shared/src/__tests__/mocks/fakeDeliveryOptionsResponse.ts
Owners: @myparcelnl/frontend

fix: fix fake delivery carriers wrongly showing
  apps/delivery-options/src/utils/getResolvedCarrier.ts
Owners: @myparcelnl/frontend

refactor: add more api errors
  libs/shared/src/data/errors.ts
Owners: @myparcelnl/frontend

fix: allow mailbox package for bpost on sendmyparcel
  libs/shared/src/config/getSendMyParcelConfig.ts
  libs/shared/src/utils/__snapshots__/getPlatformConfig.spec.ts.snap
Owners: @myparcelnl/frontend

feat: allow package small for nl and be
  src/data/carriers/abstractCarrierConfiguration.js
Owners: @myparcelnl/frontend

test: add test
  tests/unit/delivery-options/carrierConfiguration.spec.js
Owners: @myparcelnl/frontend

fix(dates): fix timezone issues in dates
  apps/delivery-options/src/utils/calculateCutoffTime.spec.ts
  apps/delivery-options/src/utils/createNextDate.spec.ts
  apps/delivery-options/src/utils/createNextDate.ts
  libs/shared/src/utils/isPastTime.spec.ts
  libs/shared/src/utils/isPastTime.ts
Owners: @myparcelnl/frontend

feat(pickup): show price on selected pickup location in map view
  apps/delivery-options/src/types/carriers.types.ts
  apps/delivery-options/src/utils/getResolvedCarrier.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationMap/PickupLocationDetails.vue
  libs/shared/src/composables/useCarrier.ts
  libs/shared/src/data/errors.ts
Owners: @myparcelnl/frontend

fix: disallow package small to belgium
  src/data/carriers/abstractCarrierConfiguration.js
  tests/unit/delivery-options/carrierConfiguration.spec.js
Owners: @myparcelnl/frontend

feat: support package_small
  apps/sandbox/src/components/SandboxPackageTypeBox.vue
  apps/sandbox/src/config/getDefaultSandboxCarrierSettings.ts
  apps/sandbox/src/form/getAllSandboxConfigOptions.ts
  apps/sandbox/src/form/getConfigSandboxSections.ts
  libs/shared/src/config/getMyParcelConfig.ts
  libs/shared/src/data/constants.ts
  libs/shared/src/data/enums.ts
  libs/shared/src/types/config.types.ts
  libs/shared/src/utils/getAllConfigOptions.ts
  libs/shared/src/utils/getPackageTypePriceKey.spec.ts
  libs/shared/src/utils/getPackageTypePriceKey.ts
Owners: @myparcelnl/frontend

refactor: use variable
  apps/delivery-options/src/utils/createNextDate.ts
Owners: @myparcelnl/frontend

chore: update ide files
  .idea/runConfigurations/delivery_options.xml
  .idea/runConfigurations/sandbox.xml
  .idea/runConfigurations/shared.xml
Owners: @myparcelnl/frontend

build(gha): ignore ide files on events
  .github/workflows/push.yml
  .github/workflows/run-tests.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(sandbox): improve switching between platforms
  apps/sandbox/src/components/SandboxCarrierFormSections.vue
  apps/sandbox/src/form/availableInPlatform.ts
  apps/sandbox/src/stores/useSandboxStore.ts
  libs/shared/src/composables/useCarrier.ts
  libs/shared/src/composables/usePlatform.ts
Owners: @myparcelnl/frontend

refactor: improve readability of long method
  apps/sandbox/src/form/availableInPlatform.ts
Owners: @myparcelnl/frontend

chore: update to beta
  README.md
  apps/delivery-options/private/getSharedConfig.ts
  nx.json
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

test: update snapshots
  apps/delivery-options/src/config/__snapshots__/getDefaultConfigForPlatform.spec.ts.snap
  libs/shared/src/utils/__snapshots__/getPlatformConfig.spec.ts.snap
Owners: @myparcelnl/frontend

fix: support saturday and monday delivery if allowed by default
  apps/delivery-options/src/composables/useResolvedDeliveryOptions.ts
  apps/delivery-options/src/utils/createGetDeliveryOptionsParameters.spec.ts
  apps/delivery-options/src/utils/createGetDeliveryOptionsParameters.ts
  apps/delivery-options/src/utils/getResolvedDeliveryType.spec.ts
  apps/delivery-options/src/utils/getResolvedDeliveryType.ts
Owners: @myparcelnl/frontend

Update tests/unit/delivery-options/carrierConfiguration.spec.js
  tests/unit/delivery-options/carrierConfiguration.spec.js
Owners: @myparcelnl/frontend

feat: allow package small for nl and be (#208)
  src/data/carriers/abstractCarrierConfiguration.js
  tests/unit/delivery-options/carrierConfiguration.spec.js
Owners: @myparcelnl/frontend

docs: update readme
  README.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

fix: use correct type in defineConfig helper
  apps/delivery-options/src/config/validateConfiguration.ts
  libs/shared/src/utils/defineConfig.ts
Owners: @myparcelnl/frontend

fix: add package small price to carrier override list
  src/data/keys/configKeys.js
Owners: @myparcelnl/frontend

fix: add package small price to carrier override list (#209)
  src/data/keys/configKeys.js
Owners: @myparcelnl/frontend

fix: add sunday cutoff time
  src/data/keys/configKeys.js
  src/sandbox/settings/form.js
  src/sandbox/translations/en.js
Owners: @myparcelnl/frontend

Changes by joeri.vanveen
  src/config/extraDeliveryConfig.js
  src/delivery-options/data/request/getExtraDropOffDay.js
Owners: @myparcelnl/frontend

test: add test case
  tests/unit/delivery-options/delivery/dropOffDays.spec.js
Owners: @myparcelnl/frontend

feat: add sunday cutoff time (#210)
  src/config/extraDeliveryConfig.js
  src/data/keys/configKeys.js
  src/delivery-options/data/request/getExtraDropOffDay.js
  src/sandbox/settings/form.js
  src/sandbox/translations/en.js
  tests/unit/delivery-options/delivery/dropOffDays.spec.js
Owners: @myparcelnl/frontend

fix(deps): move leaflet to prod dependencies
  apps/delivery-options/package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: run npm pkg fix
  apps/delivery-options/package.json
  libs/build-vite/package.json
  libs/semantic-release-plugin/package.json
  libs/shared/package.json
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(npm): fix package jsons
  libs/shared/package.json
  package.json
  tsconfig.base.json
  tsconfig.json
  tsconfig.paths.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(deps): update dependencies
  apps/delivery-options/package.json
  apps/sandbox/package.json
  libs/build-vite/package.json
  libs/shared/package.json
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: fix error in build scripts
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: release @myparcel-do/shared
  apps/delivery-options/release.config.cjs
  apps/delivery-options/vite-myparcel-lib.config.ts
  libs/semantic-release-plugin/src/index.ts
  libs/semantic-release-plugin/src/prepare/updatePackageJsonVersions.ts
  libs/semantic-release-plugin/src/publish/index.ts
  libs/semantic-release-plugin/src/publish/publishNpmPackage.ts
  libs/semantic-release-plugin/src/publish/removeWorkspaceDependencies.ts
  libs/semantic-release-plugin/src/types.ts
  libs/semantic-release-plugin/src/utils/getPackageJson.ts
  libs/shared/package.json
Owners: @myparcelnl/frontend, @myparcelnl/integration
