Repository myparcelnl/delivery-options, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/frontend, @myparcelnl/integration, @myparcelnl/it-support

.github/CODEOWNERS:

# --- Only frontend developers ---
*  @myparcelnl/frontend

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Exceptions ---
# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support

build: import translations
  apps/sandbox/package.json
  apps/sandbox/public/translations/.gitignore
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: improve locale logic
  apps/delivery-options/src/components/DeliveryDateSelector.vue
  apps/delivery-options/src/components/DeliveryOptionsForm.vue
  apps/delivery-options/src/components/EcoFriendlyLabel.vue
  apps/delivery-options/src/composables/index.ts
  apps/delivery-options/src/composables/useDateFormat.spec.ts
  apps/delivery-options/src/composables/useDateFormat.ts
  apps/delivery-options/src/composables/useLanguage.ts
  apps/delivery-options/src/composables/useMostEcoFriendly.spec.ts
  apps/delivery-options/src/form/createDeliveryOptionsForm.ts
  apps/delivery-options/src/stores/index.ts
  apps/delivery-options/src/stores/useConfigStore.ts
  apps/delivery-options/src/stores/useI18nStore.ts
  apps/sandbox/src/components/SandboxConfiguration.vue
  apps/sandbox/src/components/layout/SandboxHeader.vue
  apps/sandbox/src/main.ts
  libs/shared/src/components/SelectInput.vue
  libs/shared/src/composables/index.ts
  libs/shared/src/config/getDefaultConfiguration.ts
  libs/shared/src/types/config.types.ts
  libs/shared/src/types/input.types.ts
Owners: @myparcelnl/frontend

fix: improve drop off selector
  apps/sandbox/src/App.vue
  apps/sandbox/src/components/Expandable.vue
  apps/sandbox/src/components/SandboxConfiguration.vue
  apps/sandbox/src/components/form/input/FormDropOffSelector.vue
  apps/sandbox/src/config/getDefaultSandboxConfiguration.ts
  apps/sandbox/src/stores/useSandboxStore.ts
  libs/shared/src/types/config.types.ts
  libs/shared/src/utils/crushObject.spec.ts
  libs/shared/src/utils/crushObject.ts
  libs/shared/src/utils/index.ts
Owners: @myparcelnl/frontend

fix: improve look and add prices for shipment options
  apps/delivery-options/src/utils/createShipmentOptionsFromDeliveryMoment.ts
  libs/shared/src/components/CheckboxGroupInput.vue
  libs/shared/src/components/OptionRow.vue
  libs/shared/src/components/RadioGroupInput.vue
  libs/shared/src/components/index.ts
Owners: @myparcelnl/frontend

chore(deps): update @myparcel/vue-form-builder
  yarn.lock
Owners: @myparcelnl/frontend

refactor: clean up
  apps/delivery-options/src/components/RadioGroupTabs.vue
  apps/sandbox/src/App.vue
  apps/sandbox/src/components/DeliveryOptionsBlock.vue
  libs/shared/src/components/RadioInput.vue
Owners: @myparcelnl/frontend

fix(sandbox): improve config
  apps/sandbox/src/components/AutoAnchor.vue
  apps/sandbox/src/components/SandboxAddressBox.vue
  apps/sandbox/src/components/SandboxCarrierFormSections.vue
  apps/sandbox/src/components/SandboxConfiguration.vue
  apps/sandbox/src/components/SandboxPlatformBox.vue
  apps/sandbox/src/composables/useAnchorLink.ts
  apps/sandbox/src/form/createChildFields.ts
Owners: @myparcelnl/frontend

feat: pass language to delivery options
  apps/delivery-options/src/components/DeliveryDateSelector.vue
  apps/delivery-options/src/utils/createShipmentOptionsFromDeliveryMoment.ts
  apps/sandbox/package.json
  apps/sandbox/src/App.vue
  apps/sandbox/src/DeliveryOptionsDemo.vue
  apps/sandbox/src/components/CButton.vue
  apps/sandbox/src/components/Container.ts
  apps/sandbox/src/components/LanguageSwitcher.vue
  apps/sandbox/src/components/SandboxConfiguration.vue
  apps/sandbox/src/components/SandboxDropdownButton.vue
  apps/sandbox/src/components/SandboxStringsBox.vue
  apps/sandbox/src/components/index.ts
  apps/sandbox/src/components/layout/SandboxHeader.vue
  apps/sandbox/src/composables/useLanguage.ts
  apps/sandbox/src/constants.ts
  apps/sandbox/src/stores/useSandboxStore.ts
  libs/shared/src/data/stringsKeys.ts
  yarn.lock
Owners: @myparcelnl/frontend, @myparcelnl/integration

fix: clean up business logic
  apps/delivery-options/src/__tests__/legacy/delivery/packageType.spec.ts
  apps/delivery-options/src/legacy/config/exports/DeliveryExportValues.ts
  apps/delivery-options/src/legacy/data/pickup/getPickupLocations.ts
  apps/delivery-options/src/utils/createGetDeliveryOptionsParameters.spec.ts
  apps/delivery-options/src/utils/createGetDeliveryOptionsParameters.ts
  libs/shared/src/config/getDefaultConfigForPlatform.ts
  libs/shared/src/data/settingsConsts.ts
Owners: @myparcelnl/frontend

refactor: remove debug stuff
  apps/sandbox/src/App.vue
  libs/shared/src/components/SelectInput.vue
Owners: @myparcelnl/frontend

refactor: remove obsolete files
  apps/delivery-options/src/legacy/data/request/fetchFromEndpoint.ts
  apps/delivery-options/src/legacy/data/request/fetchMultiple.ts
  apps/delivery-options/src/legacy/data/request/getApiUrl.ts
  apps/delivery-options/src/legacy/data/request/getCarrierRequestParameters.ts
  apps/delivery-options/src/legacy/data/request/getDefaultRequestParameters.ts
Owners: @myparcelnl/frontend

refactor: improve language logic
  apps/delivery-options/src/components/DeliveryOptionsForm.vue
  apps/delivery-options/src/composables/useLanguage.ts
  apps/delivery-options/src/utils/createShipmentOptionsFromDeliveryMoment.ts
  apps/sandbox/src/App.vue
  apps/sandbox/src/composables/i18n/index.ts
  apps/sandbox/src/composables/i18n/useLanguage.ts
  apps/sandbox/src/composables/index.ts
  apps/sandbox/src/composables/useLanguage.spec.ts
  apps/sandbox/src/composables/useLanguage.ts
  apps/sandbox/src/legacy/settings/formParts/stringForm.ts
  apps/sandbox/src/legacy/translations/en.ts
  apps/sandbox/src/stores/useSandboxStore.ts
  libs/shared/src/data/stringsKeys.ts
Owners: @myparcelnl/frontend

refactor: move table out of legacy folder
  apps/sandbox/src/DebugEventLog.vue
  apps/sandbox/src/components/SandboxTable.vue
Owners: @myparcelnl/frontend

feat: add drop off possibilities
  apps/delivery-options/src/utils/getConfigPriceKey.ts
  apps/sandbox/src/components/FieldWrapper.vue
  apps/sandbox/src/components/SandboxFeaturesBox.vue
  apps/sandbox/src/components/base/SandboxCheckboxGroupInput.vue
  apps/sandbox/src/components/base/SandboxCheckboxInput.vue
  apps/sandbox/src/components/base/SandboxRadioGroupInput.vue
  apps/sandbox/src/components/base/SandboxTimeInput.vue
  apps/sandbox/src/components/form/input/FormDropOffSelector.vue
  apps/sandbox/src/components/form/input/FormNumberInput.vue
  apps/sandbox/src/components/form/input/FormTextInput.vue
  apps/sandbox/src/components/form/input/FormTimeInput.vue
  apps/sandbox/src/composables/useLanguage.ts
  apps/sandbox/src/form/createChildFields.ts
  apps/sandbox/src/form/getComponent.ts
  apps/sandbox/src/form/getConfigSandboxSections.ts
  apps/sandbox/src/stores/useSandboxStore.ts
  apps/sandbox/src/types/form.types.ts
  libs/shared/src/composables/index.ts
  libs/shared/src/composables/useWeekdays.ts
  libs/shared/src/composables/validateDeliveryOptionsConfig.ts
  libs/shared/src/data/configKeys.ts
  libs/shared/src/enums.ts
  libs/shared/src/types/config.types.ts
  libs/shared/src/types/input.types.ts
  libs/shared/src/types/platform.types.ts
  libs/shared/src/utils/declareDeliveryOption.ts
  libs/shared/src/utils/declareOption.ts
  libs/shared/src/utils/declareOptionWithPrice.ts
  libs/shared/src/utils/defineDeliveryOption.ts
  libs/shared/src/utils/defineOptionWithPrice.ts
  libs/shared/src/utils/getAllConfigOptions.ts
  libs/shared/src/utils/index.ts
  libs/shared/src/utils/resolveConfigOption.ts
  libs/shared/src/validator/index.ts
  libs/shared/src/validator/validateDropOffPossibilities.ts
  yarn.lock
Owners: @myparcelnl/frontend

fix: disable autocomplete on strings fields
  apps/sandbox/src/components/SandboxStringsBox.vue
Owners: @myparcelnl/frontend

feat(sandbox): add language picker
  apps/sandbox/src/components/LanguageSwitcher.vue
  apps/sandbox/src/components/layout/SandboxHeader.vue
  apps/sandbox/src/components/legacy/LanguageSwitcher.vue
  apps/sandbox/src/composables/index.ts
  apps/sandbox/src/composables/useLanguage.ts
  apps/sandbox/src/constants.ts
  apps/sandbox/src/types/index.ts
  apps/sandbox/src/types/language.types.ts
  libs/shared/src/types/language.types.ts
Owners: @myparcelnl/frontend

fix: add loaders to delivery options
  apps/delivery-options/src/components/DeliveryMomentSelector.vue
  apps/delivery-options/src/components/OptionRow.vue
  apps/delivery-options/src/components/OptionRowLoader.vue
  apps/delivery-options/src/components/ShipmentOptionsSelector.vue
  apps/delivery-options/src/composables/index.ts
  libs/shared/src/components/CarrierLogo.vue
  libs/shared/src/components/CheckboxGroupInput.vue
  libs/shared/src/components/Loader.ts
  libs/shared/src/components/RadioGroupInput.vue
  libs/shared/src/components/SelectInputOrSingle.vue
  libs/shared/src/components/index.ts
  libs/shared/src/composables/index.ts
  libs/shared/src/composables/platformInstance.ts
  libs/shared/src/composables/useAvailableCarriers.ts
  libs/shared/src/composables/useCurrentPlatform.ts
  libs/shared/src/stores/useDeliveryOptionsStore.ts
Owners: @myparcelnl/frontend

feat(sandbox): add navigation
  apps/sandbox/src/App.vue
  apps/sandbox/src/SandboxSidebar.vue
  apps/sandbox/src/components/AutoAnchor.vue
  apps/sandbox/src/components/SandboxCarrierFormSections.vue
  apps/sandbox/src/components/SandboxConfiguration.vue
  apps/sandbox/src/components/SandboxSettingsGroup.vue
  apps/sandbox/src/composables/useAnchorLink.ts
  libs/shared/src/composables/__snapshots__/useFullCarrier.spec.ts.snap
Owners: @myparcelnl/frontend

build: improve histoire look
  apps/delivery-options/histoire.config.ts
Owners: @myparcelnl/frontend

fix(delivery-options): fix date format locale
  apps/delivery-options/src/composables/useLanguage.ts
  apps/delivery-options/src/stores/useI18nStore.ts
Owners: @myparcelnl/frontend

chore(deps): update dependencies
  apps/delivery-options/package.json
  apps/sandbox/package.json
  libs/shared/package.json
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: update drop off possibilities to match pdk
  apps/delivery-options/src/config/validateConfig.spec.ts
  apps/sandbox/src/components/form/input/FormDropOffSelector.vue
  libs/shared/src/constants.ts
  libs/shared/src/data/getDefaultDeliveryOptionsConfig.ts
  libs/shared/src/types/config.types.ts
  libs/shared/src/validator/validateDropOffPossibilities.ts
  libs/shared/src/validator/validateIsValue.spec.ts
Owners: @myparcelnl/frontend

test(delivery-options): fix time test
  apps/delivery-options/src/utils/index.ts
  apps/delivery-options/src/utils/padStart.spec.ts
  apps/delivery-options/src/utils/padStart.ts
  apps/delivery-options/src/utils/toTime.ts
Owners: @myparcelnl/frontend

chore: remove obsolete file
  libs/shared/src/data/countryCodes.ts
  libs/shared/src/data/index.ts
Owners: @myparcelnl/frontend

fix: fix types
  libs/shared/src/types/config.types.ts
Owners: @myparcelnl/frontend

build: fix delivery options lib build
  apps/delivery-options/vite-lib.config.ts
  apps/delivery-options/vite.config.ts
  libs/build-vite/index.d.ts
  libs/build-vite/index.js
Owners: @myparcelnl/frontend

fix: update options and their validation
  apps/delivery-options/src/__tests__/utils/mockDeliveryOptionsConfig.ts
  apps/delivery-options/src/config/__snapshots__/getDefaultConfigForPlatform.spec.ts.snap
  apps/delivery-options/src/config/validateConfiguration.ts
  apps/delivery-options/src/utils/calculateCutoffTime.spec.ts
  apps/delivery-options/src/utils/calculateCutoffTime.ts
  apps/delivery-options/src/utils/createGetDeliveryOptionsParameters.spec.ts
  apps/delivery-options/src/utils/createGetDeliveryOptionsParameters.ts
  libs/shared/src/config/getMyParcelConfig.ts
  libs/shared/src/data/getDefaultCarrierSettings.ts
  libs/shared/src/data/getDefaultDeliveryOptionsConfig.ts
  libs/shared/src/enums.ts
  libs/shared/src/types/config.types.ts
  libs/shared/src/utils/__snapshots__/getPlatformConfig.spec.ts.snap
  libs/shared/src/utils/getAllConfigOptions.ts
Owners: @myparcelnl/frontend

feat: add correct icons
  apps/delivery-options/src/components/common/EcoFriendlyLabel/EcoFriendlyLabel.vue
  apps/delivery-options/src/components/common/InfoLabel/InfoLabel.story.vue
  apps/delivery-options/src/components/common/InfoLabel/InfoLabel.vue
  apps/delivery-options/src/components/icons/EcoFriendlyIcon.vue
  apps/delivery-options/src/components/icons/ParcelLockerIcon.vue
  apps/delivery-options/src/utils/hasSlotContent.ts
Owners: @myparcelnl/frontend

fix: improve select input
  libs/shared/src/components/SelectInputOrSingle.vue
Owners: @myparcelnl/frontend

feat: improve list and map toggle and add load more button
  apps/delivery-options/histoire.config.ts
  apps/delivery-options/src/components/common/DoButton/DoButton.story.vue
  apps/delivery-options/src/components/common/DoButton/DoButton.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupLocationList.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocations.vue
  apps/delivery-options/tailwind.config.ts
  apps/sandbox/src/App.vue
  apps/sandbox/src/SandboxSidebar.vue
  libs/shared/src/data/settingsConsts.ts
Owners: @myparcelnl/frontend

fix: update deprecated config parsing
  apps/delivery-options/src/config/handleDeprecatedOptions.spec.ts
  apps/delivery-options/src/config/handleDeprecatedOptions.ts
  apps/delivery-options/src/config/index.ts
  apps/delivery-options/src/config/setConfiguration.ts
  apps/delivery-options/src/config/validateConfig.spec.ts
  apps/delivery-options/src/config/validateConfiguration.spec.ts
  apps/delivery-options/src/config/validateConfiguration.ts
  apps/delivery-options/src/constants.ts
  apps/delivery-options/src/utils/calculateCutoffTime.spec.ts
  apps/sandbox/src/components/SandboxFeaturesBox.vue
  apps/sandbox/src/components/form/input/FormDropOffSelector.vue
  apps/sandbox/src/config/getDefaultSandboxConfiguration.ts
  libs/shared/src/composables/useLogger.ts
  libs/shared/src/config/getMyParcelConfig.ts
  libs/shared/src/config/getSendMyParcelConfig.ts
  libs/shared/src/constants.ts
  libs/shared/src/data/configKeys.ts
  libs/shared/src/enums.ts
  libs/shared/src/types/config.types.ts
  libs/shared/src/types/validation.types.ts
  libs/shared/src/utils/index.ts
  libs/shared/src/utils/toArrayWithAnySeparator.ts
  libs/shared/src/validator/defineValidator.ts
  libs/shared/src/validator/index.ts
  libs/shared/src/validator/validateDropOffDays.ts
  libs/shared/src/validator/validateDropOffPossibilities.ts
  libs/shared/src/validator/validateIsCountryCode.ts
  libs/shared/src/validator/validateIsInRange.ts
  libs/shared/src/validator/validateIsNumeric.ts
Owners: @myparcelnl/frontend

refactor: improve group inputs
  apps/delivery-options/src/components/common/OptionRow/OptionRow.vue
  apps/delivery-options/src/components/common/RadioGroupTabs/RadioGroupTabs.vue
  apps/delivery-options/src/components/common/index.ts
  apps/delivery-options/src/components/form/CheckboxGroupInput/CheckboxGroupInput.vue
  apps/delivery-options/src/components/form/GroupInput/GroupInput.vue
  apps/delivery-options/src/components/form/GroupInput/GroupInputLoader.vue
  apps/delivery-options/src/components/form/RadioGroupInput/RadioGroupInput.vue
  apps/delivery-options/src/components/form/index.ts
  apps/delivery-options/src/composables/index.ts
  apps/delivery-options/src/composables/useLanguage.ts
  apps/delivery-options/src/composables/useResolvedDeliveryOptions.ts
  apps/delivery-options/src/composables/useResolvedPickupLocations.ts
  apps/delivery-options/src/constants.ts
  apps/delivery-options/src/form/createDeliveryOptionsForm.ts
  apps/delivery-options/src/types/components.types.ts
  apps/delivery-options/src/types/form.types.ts
  apps/delivery-options/src/utils/createGetDeliveryOptionsParameters.spec.ts
  apps/delivery-options/src/utils/getComponent.ts
  apps/delivery-options/src/utils/getResolvedValue.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryDateSelector/DeliveryDateSelector.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryMomentSelector/DeliveryMomentSelector.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/ShipmentOptionsSelector/ShipmentOptionsSelector.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/DeliveryOptionsForm/DeliveryOptionsForm.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/MyParcelDeliveryOptions.vue
  apps/sandbox/src/components/DeliveryOptionsBlock.vue
  libs/shared/src/enums.ts
  libs/shared/src/types/options.types.ts
Owners: @myparcelnl/frontend

refactor: improve types
  libs/shared/src/types/config.types.ts
Owners: @myparcelnl/frontend

refactor(shared): make parameter required
  libs/shared/src/utils/getFullCarrier.ts
Owners: @myparcelnl/frontend

refactor: move default config to shared
  apps/sandbox/src/config/getDefaultSandboxConfiguration.ts
  libs/shared/src/data/getDefaultCarrierSettings.ts
  libs/shared/src/data/getDefaultDeliveryOptionsConfig.ts
  libs/shared/src/data/index.ts
Owners: @myparcelnl/frontend

feat(delivery-options): do not expose delivery date if it's turned off
  apps/delivery-options/src/utils/convertOutput.ts
Owners: @myparcelnl/frontend

chore: update ide config
  .idea/codeStyles/Project.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLinters/eslint.xml
  .idea/runConfigurations/build.xml
  .idea/runConfigurations/build_dev.xml
  .idea/runConfigurations/delivery_options.xml
  .idea/runConfigurations/serve.xml
Owners: @myparcelnl/frontend

build: use tailwind in histoire
  apps/delivery-options/histoire.setup.ts
Owners: @myparcelnl/frontend

feat: add parcel locker indicators
  apps/delivery-options/src/components/common/EcoFriendlyLabel/EcoFriendlyLabel.vue
  apps/delivery-options/src/components/common/InfoLabel/InfoLabel.story.vue
  apps/delivery-options/src/components/common/InfoLabel/InfoLabel.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupLocationListItem.vue
Owners: @myparcelnl/frontend

test(delivery-options): fix events test
  apps/delivery-options/src/composables/useDeliveryOptionsOutgoingEvents.ts
  apps/delivery-options/src/composables/useUpdateDeliveryOptions.spec.ts
  apps/delivery-options/src/utils/convertOutput.ts
Owners: @myparcelnl/frontend
