Repository myparcelnl/delivery-options, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/frontend, @myparcelnl/integration, @myparcelnl/it-support

.github/CODEOWNERS:

# --- Only frontend developers ---
*  @myparcelnl/frontend

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Exceptions ---
# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support

wip
  src/delivery-options/DeliveryOptions.vue
  src/delivery-options/config/exports/DeliveryExportValues.js
Owners: @myparcelnl/frontend

refactor: moved shouldShowDeliveryDate to DeliveryExportValues.js
  src/data/keys/settingsConsts.js
  src/delivery-options/DeliveryOptions.vue
  src/delivery-options/config/exports/DeliveryExportValues.js
Owners: @myparcelnl/frontend

refactor
  src/delivery-options/config/exports/DeliveryExportValues.js
Owners: @myparcelnl/frontend

refactor
  src/delivery-options/config/exports/DeliveryExportValues.js
Owners: @myparcelnl/frontend

Update src/delivery-options/config/exports/DeliveryExportValues.js
  src/delivery-options/config/exports/DeliveryExportValues.js
Owners: @myparcelnl/frontend

Update src/delivery-options/config/exports/DeliveryExportValues.js
  src/delivery-options/config/exports/DeliveryExportValues.js
Owners: @myparcelnl/frontend

Update src/delivery-options/config/exports/DeliveryExportValues.js
  src/delivery-options/config/exports/DeliveryExportValues.js
Owners: @myparcelnl/frontend

refactor: feedback
  src/data/keys/settingsConsts.js
  src/delivery-options/config/exports/DeliveryExportValues.js
Owners: @myparcelnl/frontend

ci: remove develop branch
  .github/workflows/workflow.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(config): allow sameday cutoff time per carrier
  src/data/keys/configKeys.js
Owners: @myparcelnl/frontend

feat(config): allow sameday cutoff time per carrier (#110)
  src/data/keys/configKeys.js
Owners: @myparcelnl/frontend

chore(release): 5.1.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

Notes added by 'git notes add'
  41e15f218dbc96a6d9840e8e3d33976595edcda8
Owners: @myparcelnl/frontend

refactor: move some lost helpers
  src/delivery-options/config/configBus.js
  src/delivery-options/data/delivery/dependencies/getDeliveryType.js
  src/delivery-options/data/request/getDropOffDelayParameter.js
  src/delivery-options/data/request/requestData.js
  src/helpers/delivery/carrierCanOnlyHaveSameDayDelivery.js
  src/helpers/delivery/checkIsDropOffDay.js
  src/helpers/delivery/getCutOffTime.js
  src/helpers/delivery/hasSameDayDelivery.js
  src/helpers/delivery/isPastCutoffTime.js
  src/helpers/delivery/isPastSameDayCutoffTime.js
  tests/unit/delivery-options/delivery/dropOffDays.spec.js
  tests/unit/delivery-options/delivery/hasSameDayDelivery.spec.js
  tests/unit/delivery-options/isPastTime.spec.js
Owners: @myparcelnl/frontend

fix: smash same day delivery ft. mark
  src/delivery-options/config/configBus.js
  src/delivery-options/config/isPastTime.js
  src/delivery-options/data/delivery/dependencies/getDeliveryType.js
  src/delivery-options/data/request/getCutOffTime.js
  src/delivery-options/data/request/getDropOffDelayOverride.js
  src/delivery-options/data/request/hasSameDayDelivery.js
  src/delivery-options/data/request/isPastCutoffTime.js
  src/delivery-options/data/request/isPastSameDayCutoffTime.js
  src/delivery-options/data/request/requestData.js
  tests/unit/delivery-options/delivery/deliveryMoment.spec.js
  tests/unit/delivery-options/delivery/hasSameDayDelivery.spec.js
  tests/unit/delivery-options/isPastCutoff.spec.js
Owners: @myparcelnl/frontend

refactor: improve sameday functionality
  src/delivery-options/config/exports/ExportValues.js
  src/delivery-options/data/request/getCutOffTime.js
  src/delivery-options/data/request/requestData.js
Owners: @myparcelnl/frontend

chore: update dependencies
  yarn.lock
Owners: @myparcelnl/frontend

refactor: remove highlight deprecation notice
  src/sandbox/components/CCodeDisplay.vue
Owners: @myparcelnl/frontend

chore: update dependencies (#113)
  src/sandbox/components/CCodeDisplay.vue
  yarn.lock
Owners: @myparcelnl/frontend

refactor: feedback
  src/delivery-options/config/exports/DeliveryExportValues.js
  src/delivery-options/config/exports/ExportValues.js
Owners: @myparcelnl/frontend

refactor: normalize some "cut-off" spellings
  src/delivery-options/config/isPastTime.js
  src/delivery-options/data/request/requestData.js
  src/helpers/delivery/getCutoffTime.js
  tests/helpers/createCutoffTimeDate.js
  tests/unit/delivery-options/delivery/deliveryMoment.spec.js
  tests/unit/delivery-options/delivery/hasSameDayDelivery.spec.js
Owners: @myparcelnl/frontend

refactor: unhappy path first
  src/delivery-options/data/request/getDropOffDelayParameter.js
Owners: @myparcelnl/frontend

refactor: fix casing on file
  tests/__mocks__/@myparcel/js-sdk/dist/data/delivery-options/cutoffTimeHasPassed.js
  tests/helpers/createCutoffTimeDate.js
Owners: @myparcelnl/frontend

fix: return first deliverymoment as sameday if allowed
  src/data/keys/settingsConsts.js
  src/delivery-options/data/delivery/dependencies/createDeliveryDependencies.js
  src/delivery-options/data/delivery/dependencies/getDeliveryType.js
  src/delivery-options/data/delivery/dependencies/setSameDayDelivery.js
  src/delivery-options/data/request/fetchFromEndpoint.js
  src/delivery-options/data/request/getDropOffDelayParameter.js
  src/helpers/delivery/getCutoffTime.js
  tests/unit/delivery-options/delivery/deliveryMoment.spec.js
Owners: @myparcelnl/frontend

fix: add dropoffdelay to nextday deliverymoment
  src/delivery-options/data/request/getDropOffDelayParameter.js
Owners: @myparcelnl/frontend

refactor: change dropoff delay based on carrier
  src/delivery-options/data/request/getDropOffDelayParameter.js
  src/delivery-options/data/request/getRequestParameters.js
  src/delivery-options/data/request/requestData.js
Owners: @myparcelnl/frontend

fix: fix failing tests
  src/delivery-options/data/request/getCarrierRequestParameters.js
  src/delivery-options/data/request/getDropOffDelayParameter.js
  src/delivery-options/data/request/getInstaboxDropOffDelay.js
  src/delivery-options/data/request/getOptionalRequestParameters.js
  src/delivery-options/data/request/getRequestParameters.js
  src/delivery-options/data/request/requestData.js
  src/helpers/delivery/hasSameDayDelivery.js
  tests/unit/delivery-options/delivery/hasSameDayDelivery.spec.js
  tests/unit/delivery-options/getRequestParameters.spec.js
Owners: @myparcelnl/frontend

fix: fix failing tests
  src/delivery-options/config/exports/DeliveryExportValues.js
  src/delivery-options/config/exports/ExportValues.js
Owners: @myparcelnl/frontend

fix: only include delivery date when needed (#108)
  src/delivery-options/DeliveryOptions.vue
  src/delivery-options/config/exports/DeliveryExportValues.js
Owners: @myparcelnl/frontend

chore(release): 5.1.1 [skip ci]
  CHANGELOG.md
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

Notes added by 'git notes add'
  3340574294dcb7f164c8b879fc6b3082ca5aaa1a
Owners: @myparcelnl/frontend

refactor: improve same day functionality (#112)
  src/data/keys/settingsConsts.js
  src/delivery-options/config/configBus.js
  src/delivery-options/config/exports/ExportValues.js
  src/delivery-options/config/isPastCutoff.js
  src/delivery-options/config/isPastTime.js
  src/delivery-options/data/delivery/dependencies/createDeliveryDependencies.js
  src/delivery-options/data/delivery/dependencies/getDeliveryType.js
  src/delivery-options/data/delivery/dependencies/setSameDayDelivery.js
  src/delivery-options/data/request/fetchFromEndpoint.js
  src/delivery-options/data/request/getCarrierRequestParameters.js
  src/delivery-options/data/request/getDropOffDelayParameter.js
  src/delivery-options/data/request/getInstaboxDropOffDelay.js
  src/delivery-options/data/request/getOptionalRequestParameters.js
  src/delivery-options/data/request/getRequestParameters.js
  src/delivery-options/data/request/requestData.js
  src/helpers/delivery/carrierCanOnlyHaveSameDayDelivery.js
  src/helpers/delivery/checkIsDropOffDay.js
  src/helpers/delivery/getCutoffTime.js
  src/helpers/delivery/hasSameDayDelivery.js
  src/helpers/delivery/isPastCutoffTime.js
  src/helpers/delivery/isPastSameDayCutoffTime.js
  tests/__mocks__/@myparcel/js-sdk/dist/data/delivery-options/cutoffTimeHasPassed.js
  tests/helpers/createCutoffTimeDate.js
  tests/unit/delivery-options/delivery/deliveryMoment.spec.js
  tests/unit/delivery-options/delivery/dropOffDays.spec.js
  tests/unit/delivery-options/delivery/hasSameDayDelivery.spec.js
  tests/unit/delivery-options/getRequestParameters.spec.js
  tests/unit/delivery-options/isPastTime.spec.js
Owners: @myparcelnl/frontend

Deploying to gh-pages from @ 9b74dd66253eb98a70297d9b4c1f3248ec9961a3 🚀
  analysis/delivery-options-report.html
  analysis/delivery-options-requires-vue-2-6-0-report.html
  analysis/sandbox-report.html
  index.html
  js/PreLoader.dd7f029f.js
  js/SandboxFooter.65b845e4.js
  js/SandboxFooter.974ab537.js
  js/SandboxHeader.1a817457.js
  js/SandboxIntroduction.c4c88e25.js
  js/SandboxSettings.54189e9d.js
  js/chunk-51c52110.3cc50458.js
  js/chunk-51c52110.7a580f85.js
  js/chunk-vendors.00d7624c.js
  js/chunk-vendors.ebe4e0e7.js
  js/components/CCodeDisplay.81850a8e.js
  myparcel.js
  myparcel.lib.js
  precache-manifest.45f27873be853dc65095e36d3c85a102.js
  precache-manifest.48f064e8db6039ebb3eda2f3cb1faeca.js
  precache-manifest.c02dc86a00581170b8c7cfeaabeb0f0e.js
  report.html
  sandbox.js
  service-worker.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: fix release flow
  .github/workflows/workflow.yml
  release.config.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs: rename rjp to instabox
  README.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

docs: rename rjp to instabox (#115)
  README.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

feat: do not show morning and evening without deliverydate
  src/delivery-options/data/delivery/dependencies/formatDeliveryMoment.js
Owners: @myparcelnl/frontend

fix: add test
  tests/unit/delivery-options/delivery/deliveryMoment.spec.js
Owners: @myparcelnl/frontend

fix: implement feedback
  src/delivery-options/data/delivery/dependencies/formatDeliveryMoment.js
Owners: @myparcelnl/frontend

feat: do not show morning and evening without deliverydate (#116)
  src/delivery-options/data/delivery/dependencies/formatDeliveryMoment.js
  tests/unit/delivery-options/delivery/deliveryMoment.spec.js
Owners: @myparcelnl/frontend
