Repository myparcelnl/delivery-options, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/frontend, @myparcelnl/integration, @myparcelnl/it-support

chore: add pull request template
  .github/pull_request_template.md
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: update license
  LICENSE.txt
  package.json
Owners: @myparcelnl/frontend, @myparcelnl/integration

fix: expose delivery date by default
  src/delivery-options/config/exports/DeliveryExportValues.js
  tests/unit/delivery-options/delivery/deliveryDate.spec.js
  tests/waitForEvent.js
Owners: @myparcelnl/frontend

test: increase coverage
  tests/unit/delivery-options/delivery/packageType.spec.js
Owners: @myparcelnl/frontend

fix: expose delivery date by default (#118)
  src/delivery-options/config/exports/DeliveryExportValues.js
  tests/unit/delivery-options/delivery/deliveryDate.spec.js
  tests/unit/delivery-options/delivery/packageType.spec.js
  tests/waitForEvent.js
Owners: @myparcelnl/frontend

ci: fix live api test flow
  .github/workflows/live-api-test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs: move docs to developer portal
  README.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

docs: update documentation url
  README.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

feat: MY-34068: Add DHL For You
  src/config/platform/platformCarrierMap.js
  src/data/carriers/carrierConfigurationFactory.js
  src/data/carriers/dhlForYouCarrierConfiguration.js
  src/data/keys/carrierKeys.js
  types/index.d.ts
Owners: @myparcelnl/frontend

feat: add dhl for you options and tests
  src/data/carriers/dhlForYouCarrierConfiguration.js
  tests/unit/delivery-options/delivery/dropOffDays.spec.js
  tests/unit/delivery-options/delivery/hasSameDayDelivery.spec.js
Owners: @myparcelnl/frontend

feat: add dhl parcel connect and dhl europlus
  src/config/platform/platformCarrierMap.js
  src/data/carriers/carrierConfigurationFactory.js
  src/data/carriers/dhlEuroplusCarrierConfiguration.js
  src/data/carriers/dhlParcelConnectCarrierConfiguration.js
  src/data/keys/carrierKeys.js
  tests/unit/delivery-options/delivery/dropOffDays.spec.js
  types/index.d.ts
Owners: @myparcelnl/frontend

test: update coverage
  tests/unit/delivery-options/carrierConfigurationFactory.spec.js
Owners: @myparcelnl/frontend

feat: add dhl carriers (#122)
  src/config/platform/platformCarrierMap.js
  src/data/carriers/carrierConfigurationFactory.js
  src/data/carriers/dhlEuroplusCarrierConfiguration.js
  src/data/carriers/dhlForYouCarrierConfiguration.js
  src/data/carriers/dhlParcelConnectCarrierConfiguration.js
  src/data/keys/carrierKeys.js
  tests/unit/delivery-options/carrierConfigurationFactory.spec.js
  tests/unit/delivery-options/delivery/dropOffDays.spec.js
  tests/unit/delivery-options/delivery/hasSameDayDelivery.spec.js
  types/index.d.ts
Owners: @myparcelnl/frontend

chore(deps): add dependabot.yml
  .github/dependabot.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: update workflows
  .github/workflows/--run-tests.yml
  .github/workflows/live-api-test.yml
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
  .github/workflows/workflow.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: add husky
  .husky/pre-commit
  package.json
  yarn.lock
Owners: @myparcelnl/frontend, @myparcelnl/integration

chore: add husky
  .husky/pre-commit
  .huskyrc.js
  package.json
  yarn.lock
Owners: @myparcelnl/frontend, @myparcelnl/integration

build(deps): bump actions
  .github/workflows/--run-tests.yml
  .github/workflows/live-api-test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(release): update paths-ignore
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(release): pass github token to semantic release
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(release): cache builds
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(test): use cache to skip tests when possible
  .github/workflows/--run-tests.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(deps): update dependencies
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(deps): update dependencies
  package.json
  private/createConfig.js
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(eslint): update removed rule
  .eslintrc
Owners: @myparcelnl/frontend

chore(release): 5.2.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

Notes added by 'git notes add'
  68a18197f6a8dcd24cff2199fb6c8a7fdf1b6f95
Owners: @myparcelnl/frontend

Deploying to gh-pages from @ ca4e9ac8be0ca47a91290bf7af564b1bafb2daf3 🚀
  analysis/delivery-options-report.html
  analysis/delivery-options-requires-vue-2-6-0-report.html
  analysis/sandbox-report.html
  index.html
  js/PreLoader.a06c7821.js
  js/PreLoader.dd7f029f.js
  js/SandboxFooter.65b845e4.js
  js/SandboxFooter.ff61c3ee.js
  js/SandboxHeader.340ea3a3.js
  js/SandboxIntroduction.6b065dae.js
  js/SandboxSettings.54189e9d.js
  js/SandboxSettings.adecf31c.js
  js/chunk-51c52110.3cc50458.js
  js/chunk-51c52110.4c661777.js
  js/chunk-vendors.00d7624c.js
  js/chunk-vendors.e1659bf4.js
  js/components/CCodeDisplay.81850a8e.js
  js/components/CCodeDisplay.e67eabc7.js
  myparcel.js
  myparcel.lib.js
  precache-manifest.6ac0135d906f774ee6b5ff01abc1d6c6.js
  precache-manifest.a7151e4b9d8e7cb79d55a78c726c4189.js
  precache-manifest.c9154c9443ac0bd1de1f2429eac77b18.js
  report.html
  sandbox.js
  service-worker.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: change script that installs husky
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(release): 5.2.1 [skip ci]
  CHANGELOG.md
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

Notes added by 'git notes add'
  94cce78ab28612ab0d97f871dbd03f968b5792bf
Owners: @myparcelnl/frontend

fix(dhl): remove unsupported options
  src/data/carriers/dhlEuroplusCarrierConfiguration.js
  src/data/carriers/dhlParcelConnectCarrierConfiguration.js
Owners: @myparcelnl/frontend

fix(dhl): remove unsupported options (#133)
  src/data/carriers/dhlEuroplusCarrierConfiguration.js
  src/data/carriers/dhlParcelConnectCarrierConfiguration.js
Owners: @myparcelnl/frontend

chore(release): 5.2.2 [skip ci]
  CHANGELOG.md
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

Notes added by 'git notes add'
  4713cd27e0472db1f9d7411b43f2720309e651c2
Owners: @myparcelnl/frontend

Deploying to gh-pages from @ bcb9f2568650a1c17d00c827a147e709ba9d2e92 🚀
  index.html
  js/PreLoader.7ad04432.js
  js/SandboxFooter.d9783a23.js
  js/SandboxFooter.ff61c3ee.js
  js/SandboxHeader.d13638a7.js
  js/SandboxIntroduction.a2661752.js
  js/SandboxSettings.512a0647.js
  js/chunk-51c52110.c6533a0c.js
  js/chunk-vendors.ae9c07b2.js
  js/chunk-vendors.e1659bf4.js
  js/components/CCodeDisplay.310d3e9b.js
  myparcel.js
  myparcel.lib.js
  precache-manifest.3721256bd8d850592039b331424da99f.js
  precache-manifest.67c507ce158e9e937a4c85ccf70ef5da.js
  precache-manifest.b1fb6c350728dec5964f01e782302e45.js
  sandbox.js
  service-worker.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: hide carriers not offering current packagetype
  src/data/carriers/abstractCarrierConfiguration.js
  src/delivery-options/config/configBus.js
Owners: @myparcelnl/frontend

fix: add test
  src/data/carriers/abstractCarrierConfiguration.js
  tests/unit/delivery-options/carrierConfiguration.spec.js
Owners: @myparcelnl/frontend

fix: implement codacy feedback
  tests/unit/delivery-options/carrierConfiguration.spec.js
Owners: @myparcelnl/frontend

fix: implement feedback
  src/data/carriers/abstractCarrierConfiguration.js
  src/delivery-options/config/configBus.js
  tests/unit/delivery-options/carrierConfiguration.spec.js
Owners: @myparcelnl/frontend

.github/CODEOWNERS:

# --- Only frontend developers ---
*  @myparcelnl/frontend

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Exceptions ---
# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
