Repository myparcelnl/delivery-options, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/frontend, @myparcelnl/integration, @myparcelnl/it-support

Notes added by 'git notes add'
  e944e39736039b8df5146801cfa5fd37aaf4b507
Owners: @myparcelnl/frontend

Deploying to gh-pages from @ e944e39736039b8df5146801cfa5fd37aaf4b507 🚀
  analysis/delivery-options-report.html
  analysis/delivery-options-requires-vue-2-6-0-report.html
  analysis/sandbox-report.html
  index.html
  js/PreLoader.26a8be60.js
  js/SandboxFooter.6431458b.js
  js/SandboxFooter.7aff4f78.js
  js/SandboxHeader.bcd68efc.js
  js/SandboxIntroduction.ea292a6e.js
  js/SandboxSettings.59b087f8.js
  js/chunk-ab36304a.260d152f.js
  js/chunk-ab36304a.6f4c4eae.js
  js/chunk-vendors.773b192f.js
  js/chunk-vendors.f576abba.js
  js/components/CCodeDisplay.d8d5143f.js
  myparcel.js
  myparcel.lib.js
  precache-manifest.0ebe32c8cf0d82fb31ccf6747a223a34.js
  precache-manifest.74ccae4c64549f89201663a69d619daf.js
  precache-manifest.e1144af6f45cbb9cdc71a76144b7e024.js
  precache-manifest.f462a17c33242a4ec465c14303c3a80d.js
  report.html
  sandbox.js
  service-worker.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: allow using number or street to get be delivery options
  src/config/localeConfig.js
Owners: @myparcelnl/frontend

build: update release flow
  .github/workflows/live-api-test.yml
  .github/workflows/workflow.yml
  .releaserc
  README.md
  package-lock.json
  package.json
  release.config.js
  src/assets/scss/delivery-options/_map.scss
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

build: update release flow
  .github/workflows/live-api-test.yml
  .github/workflows/workflow.yml
  .releaserc
  README.md
  package-lock.json
  package.json
  release.config.js
  src/assets/scss/delivery-options/_map.scss
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

Deploying to gh-pages from @ 2d700cdf3eb1e44eb7eef45bf738071ca6046964 🚀
  analysis/delivery-options-report.html
  analysis/delivery-options-requires-vue-2-6-0-report.html
  analysis/sandbox-report.html
  index.html
  js/PreLoader.0420cbea.js
  js/SandboxFooter.7aff4f78.js
  js/SandboxFooter.d6f92852.js
  js/SandboxHeader.ab0280a6.js
  js/SandboxIntroduction.d806c52d.js
  js/SandboxSettings.71747e6b.js
  js/chunk-ab36304a.bf5d29e2.js
  js/chunk-vendors.47c2bd35.js
  js/chunk-vendors.f576abba.js
  js/components/CCodeDisplay.232469c9.js
  precache-manifest.0ebe32c8cf0d82fb31ccf6747a223a34.js
  precache-manifest.8ee810b56fe5baff9cda332f9d781ce5.js
  precache-manifest.96c181ffdd6d0f52a7546c5ee4380bce.js
  precache-manifest.9bbed392a3821cc0b1cd05a9391a239a.js
  report.html
  sandbox.js
  service-worker.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: add types to npm package
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(sandbox): fix unsupported carriers in sandbox
  src/sandbox/settings/carrierSetting.js
Owners: @myparcelnl/frontend

feat: allow using number or street to get be delivery options
  src/config/localeConfig.js
Owners: @myparcelnl/frontend

Notes added by 'git notes add'
  2f2ef4932962ea510d09420002d929d0caae45d3
Owners: @myparcelnl/frontend

Deploying to gh-pages from @ 2f2ef4932962ea510d09420002d929d0caae45d3 🚀
  analysis/delivery-options-report.html
  analysis/delivery-options-requires-vue-2-6-0-report.html
  analysis/sandbox-report.html
  index.html
  js/PreLoader.013cf05a.js
  js/SandboxFooter.8a5a2364.js
  js/SandboxFooter.d6f92852.js
  js/SandboxHeader.23a606a8.js
  js/SandboxIntroduction.c11aabc9.js
  js/SandboxSettings.3b0ef960.js
  js/chunk-ab36304a.3eaab6d9.js
  js/chunk-vendors.3d583869.js
  js/chunk-vendors.47c2bd35.js
  js/components/CCodeDisplay.5509eb6a.js
  myparcel.js
  myparcel.lib.js
  precache-manifest.6f944025656c41c1f271b06ea5ea495c.js
  precache-manifest.96c181ffdd6d0f52a7546c5ee4380bce.js
  precache-manifest.a71795a25dc74bc5503c4954c961d639.js
  precache-manifest.c9ed9b73765e9799727723bf38b6c37e.js
  report.html
  sandbox.js
  service-worker.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: update dependencies
  package-lock.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

Deploying to gh-pages from @ 06ee8a5945059141871abfb696b39db77e4085f0 🚀
  analysis/delivery-options-report.html
  analysis/delivery-options-requires-vue-2-6-0-report.html
  analysis/sandbox-report.html
  index.html
  js/PreLoader.6cfabcc5.js
  js/SandboxFooter.8a5a2364.js
  js/SandboxFooter.979f2b83.js
  js/SandboxHeader.6ba711d3.js
  js/SandboxIntroduction.83fd82ba.js
  js/SandboxSettings.ade5a25d.js
  js/chunk-ab36304a.7965945b.js
  js/chunk-vendors.3d583869.js
  js/chunk-vendors.61ae5d84.js
  js/components/CCodeDisplay.59e319d6.js
  precache-manifest.79c3286c6311292b293f8e57bd735051.js
  precache-manifest.a71795a25dc74bc5503c4954c961d639.js
  precache-manifest.c9691ec62ce78d37298ad8841a3ab46b.js
  precache-manifest.e32489c9274d99144a0f682eea9758ea.js
  report.html
  sandbox.js
  service-worker.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: update issue templates
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/ISSUE_TEMPLATE/FEATURE-REQUEST.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: qol improvements
  .eslintrc
  .eslintrc.js
  .github/workflows/workflow.yml
  .releaserc
  index.d.ts
  package-lock.json
  package.json
  private/sandboxConfig.js
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/index.html
  public/mstile-150x150.png
  public/safari-pinned-tab.svg
  public/site.webmanifest
  release.config.js
  src/assets/scss/delivery-options/_map.scss
  tests/types/jest.d.ts
  types/index.d.ts
  yarn.lock
Owners: @myparcelnl/frontend, @myparcelnl/integration

use correct reference to myparcelnl/actions
  .github/workflows/workflow.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

remove unused logo.png
  src/assets/images/logo.png
Owners: @myparcelnl/integration, @myparcelnl/frontend

re-add wrongfully deleted dependency
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

wip
  jest.config.js
Owners: @myparcelnl/frontend

wip
  jest.config.js
  package.json
  tests/unit/example.spec.js
  yarn.lock
Owners: @myparcelnl/frontend, @myparcelnl/integration

fix tests
  .eslintrc
  .github/workflows/workflow.yml
  jest.config.js
  tests/.eslintrc
  tests/tsconfig.json
  tests/types/jest.d.ts
  tests/unit/delivery-options/components/DeliveryOptions.spec.js
  tests/unit/delivery-options/components/pickup/Pickup.spec.js
  tests/unit/delivery-options/deliveryMoment.spec.js
  tests/unit/example.spec.js
  tests/unit/sandbox/formComponents.spec.js
  tsconfig.json
  yarn.lock
Owners: @myparcelnl/frontend, @myparcelnl/integration

fix tests
  .github/workflows/workflow.yml
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

remove obsolete scripts
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: fix live api test run
  .github/workflows/live-api-test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: qol improvements (#100)
  .eslintrc
  .eslintrc.js
  .github/workflows/live-api-test.yml
  .github/workflows/workflow.yml
  .releaserc
  index.d.ts
  jest.config.js
  package-lock.json
  package.json
  private/sandboxConfig.js
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/index.html
  public/mstile-150x150.png
  public/safari-pinned-tab.svg
  public/site.webmanifest
  release.config.js
  src/assets/images/logo.png
  src/assets/scss/delivery-options/_map.scss
  tests/.eslintrc
  tests/tsconfig.json
  tests/types/jest.d.ts
  tests/unit/delivery-options/components/DeliveryOptions.spec.js
  tests/unit/delivery-options/components/pickup/Pickup.spec.js
  tests/unit/delivery-options/deliveryMoment.spec.js
  tests/unit/sandbox/formComponents.spec.js
  tsconfig.json
  types/index.d.ts
  types/jest.d.ts
  yarn.lock
Owners: @myparcelnl/frontend, @myparcelnl/integration

refactor!: rename rjp to instabox
  src/config/platform/platformCarrierMap.js
  src/data/carriers/carrierConfigurationFactory.js
  src/data/carriers/instaboxCarrierConfiguration.js
  src/data/keys/carrierKeys.js
  src/sandbox/config/sandboxPlatformCarrierMap.js
  tests/__mocks__/@myparcel/js-sdk/dist/data/fakeCarriersResponse.js
  tests/unit/delivery-options/carriers.spec.js
  tests/unit/delivery-options/configBus.spec.js
  tests/unit/delivery-options/configurationMerger.spec.js
  tests/unit/delivery-options/deliveryMoment.spec.js
  types/index.d.ts
Owners: @myparcelnl/frontend

style: fix indenting
  tests/unit/delivery-options/deliveryMoment.spec.js
Owners: @myparcelnl/frontend

build: qol improvements (#100)
  .eslintrc
  .eslintrc.js
  .github/workflows/live-api-test.yml
  .github/workflows/workflow.yml
  index.d.ts
  jest.config.js
  package-lock.json
  package.json
  private/sandboxConfig.js
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/index.html
  public/mstile-150x150.png
  public/safari-pinned-tab.svg
  public/site.webmanifest
  release.config.js
  src/assets/images/logo.png
  src/assets/scss/delivery-options/_map.scss
  tests/.eslintrc
  tests/tsconfig.json
  tests/types/jest.d.ts
  tests/unit/delivery-options/components/DeliveryOptions.spec.js
  tests/unit/delivery-options/components/pickup/Pickup.spec.js
  tests/unit/delivery-options/deliveryMoment.spec.js
  tests/unit/sandbox/formComponents.spec.js
  tsconfig.json
  types/index.d.ts
  types/jest.d.ts
  yarn.lock
Owners: @myparcelnl/frontend, @myparcelnl/integration

refactor(instabox)!: rename rjp to instabox (#104)
  src/config/platform/platformCarrierMap.js
  src/data/carriers/carrierConfigurationFactory.js
  src/data/carriers/instaboxCarrierConfiguration.js
  src/data/keys/carrierKeys.js
  src/sandbox/config/sandboxPlatformCarrierMap.js
  tests/__mocks__/@myparcel/js-sdk/dist/data/fakeCarriersResponse.js
  tests/unit/delivery-options/carriers.spec.js
  tests/unit/delivery-options/configBus.spec.js
  tests/unit/delivery-options/configurationMerger.spec.js
  tests/unit/delivery-options/deliveryMoment.spec.js
  types/index.d.ts
Owners: @myparcelnl/frontend

build: qol improvements (#100)
  .eslintrc
  .eslintrc.js
  .github/workflows/live-api-test.yml
  .github/workflows/workflow.yml
  index.d.ts
  jest.config.js
  package-lock.json
  package.json
  private/sandboxConfig.js
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/index.html
  public/mstile-150x150.png
  public/safari-pinned-tab.svg
  public/site.webmanifest
  release.config.js
  src/assets/images/logo.png
  src/assets/scss/delivery-options/_map.scss
  tests/.eslintrc
  tests/tsconfig.json
  tests/types/jest.d.ts
  tests/unit/delivery-options/components/DeliveryOptions.spec.js
  tests/unit/delivery-options/components/pickup/Pickup.spec.js
  tests/unit/delivery-options/deliveryMoment.spec.js
  tests/unit/sandbox/formComponents.spec.js
  tsconfig.json
  types/index.d.ts
  types/jest.d.ts
  yarn.lock
Owners: @myparcelnl/frontend, @myparcelnl/integration

refactor(instabox)!: rename rjp to instabox (#104)
  src/config/platform/platformCarrierMap.js
  src/data/carriers/carrierConfigurationFactory.js
  src/data/carriers/instaboxCarrierConfiguration.js
  src/data/keys/carrierKeys.js
  src/sandbox/config/sandboxPlatformCarrierMap.js
  tests/__mocks__/@myparcel/js-sdk/dist/data/fakeCarriersResponse.js
  tests/unit/delivery-options/carriers.spec.js
  tests/unit/delivery-options/configBus.spec.js
  tests/unit/delivery-options/configurationMerger.spec.js
  tests/unit/delivery-options/deliveryMoment.spec.js
  types/index.d.ts
Owners: @myparcelnl/frontend

Notes added by 'git notes add'
  f27f597f38105ceb5a852b3a6caa09ce4e77192b
Owners: @myparcelnl/frontend

Notes added by 'git notes add'
  f28996de1bb195f2ba4074aefaeb95d446aab2ba
Owners: @myparcelnl/frontend

Notes added by 'git notes add'
  9b0e7e227f4f7c9638938f678728ff55862e6a21
Owners: @myparcelnl/frontend

chore(release): 5.0.0 [skip ci]
  CHANGELOG.md
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: qol improvements (#100)
  package-lock.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

test: fix tests after merge conflict
  tests/unit/delivery-options/delivery/deliveryMoment.spec.js
  tests/unit/delivery-options/delivery/dropOffDays.spec.js
  tests/unit/delivery-options/deliveryMoment.spec.js
Owners: @myparcelnl/frontend

chore: update dependencies
  yarn.lock
Owners: @myparcelnl/frontend

build(deps): update dependencies (#106)
  yarn.lock
Owners: @myparcelnl/frontend

fix: only include delivery date when needed
  src/delivery-options/DeliveryOptions.vue
Owners: @myparcelnl/frontend

.github/CODEOWNERS:

# --- Only frontend developers ---
*  @myparcelnl/frontend

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Exceptions ---
# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
