Repository myparcelnl/delivery-options, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/frontend, @myparcelnl/integration, @myparcelnl/it-support

feat: add initial pickup list
  apps/delivery-options/src/__tests__/mocks/fakePickupLocationsResponse.ts
  apps/delivery-options/src/__tests__/utils/mockDeliveryOptionsConfig.ts
  apps/delivery-options/src/components/form/GroupInput/GroupInput.vue
  apps/delivery-options/src/composables/useDateFormat.spec.ts
  apps/delivery-options/src/composables/useDateFormat.ts
  apps/delivery-options/src/composables/usePickupLocation.spec.ts
  apps/delivery-options/src/composables/usePickupLocation.ts
  apps/delivery-options/src/composables/useResolvedPickupLocations.ts
  apps/delivery-options/src/constants.ts
  apps/delivery-options/src/legacy/data/dates/createIsoString.ts
  apps/delivery-options/src/legacy/data/dates/createLocaleString.ts
  apps/delivery-options/src/legacy/data/dates/index.ts
  apps/delivery-options/src/legacy/data/delivery/getDeliveryDates.ts
  apps/delivery-options/src/utils/createNextDate.spec.ts
  apps/delivery-options/src/utils/createNextDate.ts
  apps/delivery-options/src/utils/createTimeRangeString.ts
  apps/delivery-options/src/utils/formatDistance.ts
  apps/delivery-options/src/utils/index.ts
  apps/delivery-options/src/utils/stringToDate.ts
  apps/delivery-options/src/utils/useFormatDistance.spec.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryDateSelector/DeliveryDateSelector.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/DeliveryOptionsForm/DeliveryOptionsForm.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupLocationDetails.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupLocationList.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupLocationListItem.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationSelector/PickupLocationSelector.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocations.vue
  libs/shared/src/constants.ts
Owners: @myparcelnl/frontend

refactor: reorganize components
  apps/delivery-options/package.json
  apps/delivery-options/src/components/HomeDelivery.vue
  apps/delivery-options/src/components/common/EcoFriendlyLabel/EcoFriendlyLabel.vue
  apps/delivery-options/src/components/common/OptionRow/OptionRow.vue
  apps/delivery-options/src/components/common/OptionRow/OptionRowLoader.vue
  apps/delivery-options/src/components/common/PriceTag/PriceTag.vue
  apps/delivery-options/src/components/common/RadioGroupTabs/RadioGroupTabs.vue
  apps/delivery-options/src/components/common/index.ts
  apps/delivery-options/src/components/form/CheckboxGroupInput/CheckboxGroupInput.vue
  apps/delivery-options/src/components/form/RadioGroupInput/RadioGroupInput.vue
  apps/delivery-options/src/components/form/index.ts
  apps/delivery-options/src/components/index.ts
  apps/delivery-options/src/config/index.ts
  apps/delivery-options/src/index.ts
  apps/delivery-options/src/legacy/index.ts
  apps/delivery-options/src/stores/useConfigStore.ts
  apps/delivery-options/src/utils/getComponent.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryDateSelector/DeliveryDateSelector.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryMomentSelector/DeliveryMomentSelector.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryOptionsForm/DeliveryOptionsForm.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/HomeDelivery.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/ShipmentOptionsSelector/ShipmentOptionsSelector.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/MyParcelDeliveryOptions.spec.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/MyParcelDeliveryOptions.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocations.vue
  apps/delivery-options/src/views/index.ts
  apps/sandbox/src/config/getDefaultSandboxConfiguration.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: move types to shared
  apps/delivery-options/src/composables/useDeliveryOptionsOutgoingEvents.spec.ts
  apps/delivery-options/src/composables/useDeliveryOptionsOutgoingEvents.ts
  apps/delivery-options/src/form/createDeliveryOptionsForm.ts
  apps/delivery-options/src/types/components.types.ts
  apps/delivery-options/src/types/index.ts
  apps/delivery-options/src/utils/convertOutput.spec.ts
  apps/delivery-options/src/utils/convertOutput.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryOptionsForm/DeliveryOptionsForm.vue
  libs/shared/src/types/config.types.ts
  libs/shared/src/types/index.ts
  libs/shared/src/types/output.types.ts
Owners: @myparcelnl/frontend

chore: delete legacy sandbox files
  apps/sandbox/src/__tests__/legacy/filters.spec.ts
  apps/sandbox/src/__tests__/legacy/formComponents.spec.ts
  apps/sandbox/src/__tests__/legacy/mockSandbox.ts
  apps/sandbox/src/__tests__/legacy/mockVue.ts
  apps/sandbox/src/__tests__/legacy/sandboxConfigBus.spec.ts
  apps/sandbox/src/legacy/Sandbox.vue
  apps/sandbox/src/legacy/config/demoConfiguration.ts
  apps/sandbox/src/legacy/config/forms/address.ts
  apps/sandbox/src/legacy/config/forms/codeFormats.ts
  apps/sandbox/src/legacy/config/forms/index.ts
  apps/sandbox/src/legacy/config/index.ts
  apps/sandbox/src/legacy/config/sandboxPlatformCarrierMap.ts
  apps/sandbox/src/legacy/config/tabs/index.ts
  apps/sandbox/src/legacy/config/tabs/platformTabs.ts
  apps/sandbox/src/legacy/config/tabs/previews.ts
  apps/sandbox/src/legacy/config/tabs/settings.ts
  apps/sandbox/src/legacy/index.ts
  apps/sandbox/src/legacy/sandboxConfigBus.ts
  apps/sandbox/src/legacy/settings.ts
  apps/sandbox/src/legacy/settings/carrierSetting.ts
  apps/sandbox/src/legacy/settings/conditions/allowedInAnyCarrier.ts
  apps/sandbox/src/legacy/settings/conditions/getCarrierSettingsPath.ts
  apps/sandbox/src/legacy/settings/conditions/inAnyCarrier.ts
  apps/sandbox/src/legacy/settings/conditions/index.ts
  apps/sandbox/src/legacy/settings/formParts/index.ts
  apps/sandbox/src/legacy/settings/formParts/stringForm.ts
  apps/sandbox/src/legacy/settings/index.ts
  apps/sandbox/src/legacy/translations/countries/en.json
  apps/sandbox/src/legacy/translations/en.ts
  apps/sandbox/src/legacy/translations/index.ts
Owners: @myparcelnl/frontend, @myparcelnl/integration

chore(deps): update dependencies
  apps/delivery-options/package.json
  libs/build-vite/package.json
  libs/shared/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: delete legacy test files
  apps/delivery-options/src/__tests__/legacy/carriers.spec.ts
  apps/delivery-options/src/__tests__/legacy/components/RecursiveForm/RecursiveForm.spec.ts
  apps/delivery-options/src/__tests__/legacy/components/RecursiveForm/getDependencies.spec.ts
  apps/delivery-options/src/__tests__/legacy/components/main.spec.ts
  apps/delivery-options/src/__tests__/legacy/components/pickup/Pickup.spec.ts
  apps/delivery-options/src/__tests__/legacy/components/pickup/PickupOption.spec.ts
  apps/delivery-options/src/__tests__/legacy/components/pickup/sortPickupLocations.spec.ts
  apps/delivery-options/src/__tests__/legacy/configurationMerger.spec.ts
  apps/delivery-options/src/__tests__/legacy/dates.spec.ts
  apps/delivery-options/src/__tests__/legacy/defaultCarrierSettings.ts
  apps/delivery-options/src/__tests__/legacy/delivery/data.ts
  apps/delivery-options/src/__tests__/legacy/delivery/deliveryDate.spec.ts
  apps/delivery-options/src/__tests__/legacy/delivery/deliveryMoment.spec.ts
  apps/delivery-options/src/__tests__/legacy/delivery/dropOffDays.spec.ts
  apps/delivery-options/src/__tests__/legacy/delivery/hasSameDayDelivery.spec.ts
  apps/delivery-options/src/__tests__/legacy/delivery/monday.spec.ts
  apps/delivery-options/src/__tests__/legacy/delivery/packageType.spec.ts
  apps/delivery-options/src/__tests__/legacy/delivery/saturday.spec.ts
  apps/delivery-options/src/__tests__/legacy/errorHandling.spec.ts
  apps/delivery-options/src/__tests__/legacy/getRequestParameters.spec.ts
  apps/delivery-options/src/__tests__/legacy/isPastTime.spec.ts
  apps/delivery-options/src/__tests__/legacy/mockApp.spec.ts
  apps/delivery-options/src/__tests__/legacy/mockDeliveryOptions.ts
  apps/delivery-options/src/__tests__/legacy/mockVue.ts
  apps/delivery-options/src/__tests__/legacy/prices.spec.ts
  apps/delivery-options/src/__tests__/legacy/testLiveApi.spec.ts
Owners: @myparcelnl/frontend

fix: change padding in radio group tabs
  apps/delivery-options/src/components/common/RadioGroupTabs/RadioGroupTabs.vue
Owners: @myparcelnl/frontend

chore(deps): add histoire
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: add histoire
  .eslintrc.cjs
  apps/delivery-options/histoire.config.ts
  apps/delivery-options/histoire.setup.ts
  apps/delivery-options/package.json
  apps/delivery-options/src/components/common/EcoFriendlyLabel/EcoFriendlyLabel.story.vue
  apps/delivery-options/src/components/common/InfoLabel/InfoLabel.story.vue
  apps/delivery-options/src/components/common/InfoLabel/InfoLabel.vue
  apps/delivery-options/src/components/common/PriceTag/PriceTag.story.vue
  apps/delivery-options/src/components/icons/EcoFriendlyIcon.vue
  apps/delivery-options/src/components/icons/Icons.story.vue
  apps/delivery-options/src/components/icons/ParcelLockerIcon.vue
  apps/delivery-options/src/env.d.ts
  yarn.lock
Owners: @myparcelnl/frontend, @myparcelnl/integration

build: fix errors in build
  apps/sandbox/src/components/base/SandboxTextInput.vue
  apps/sandbox/src/components/base/SandboxTimeInput.vue
  apps/sandbox/src/components/base/SandboxToggleInput.vue
  libs/shared/src/components/CarrierLogo.vue
  libs/shared/src/components/CheckboxInput.vue
  libs/shared/src/components/RadioInput.vue
  libs/shared/src/components/SelectInput.vue
  libs/shared/src/components/SelectInputOrSingle.vue
  libs/shared/src/composables/form/useCheckboxGroupContext.ts
  libs/shared/src/composables/form/useElementContext.ts
  libs/shared/src/composables/form/useInputWithOptionsContext.ts
  libs/shared/src/composables/form/useRadioGroupContext.ts
  libs/shared/src/composables/form/useSelectInputContext.ts
  libs/shared/src/data/carrierFeatures.ts
  libs/shared/src/sdk/useRequestClient.ts
  libs/shared/src/types/element.types.ts
  libs/shared/src/types/form.types.ts
  libs/shared/src/types/input.types.ts
  libs/shared/src/validator/validateHasMinKeys.ts
  libs/shared/src/validator/validateIsBoolean.ts
  libs/shared/src/validator/validateIsString.ts
  libs/shared/src/validator/validateIsTime.ts
  libs/shared/src/validator/validateIsValue.ts
  libs/shared/src/validator/validateMatch.ts
  tsconfig.base.json
Owners: @myparcelnl/frontend, @myparcelnl/integration

build(gha): update workflows
  .github/actions/build/action.yml
  .github/actions/test/action.yml
  .github/workflows/live-api-test.yml
  .github/workflows/pull-request-open.yml
  .github/workflows/pull-request-review.yml
  .github/workflows/pull-request-title.yml
  .github/workflows/push.yml
  .github/workflows/run-tests.yml
  .github/workflows/test.yml
  nx.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: add "show more" to opening hours
  apps/delivery-options/src/components/common/DoButton/DoButton.vue
  apps/delivery-options/src/config/getDefaultStrings.ts
  apps/delivery-options/src/data/constants.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupLocationList.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationOpeningHours/PickupLocationOpeningHours.vue
  libs/shared/src/data/stringsKeys.ts
Owners: @myparcelnl/frontend

fix: restore commented code
  apps/delivery-options/src/views/MyParcelDeliveryOptions/DeliveryOptionsForm/DeliveryOptionsForm.vue
Owners: @myparcelnl/frontend

build(gha): disallow failing tests
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(sandbox): do not render untranslated group descriptions
  apps/sandbox/src/components/form/SandboxSettingsGroup.vue
Owners: @myparcelnl/frontend

feat: add pickup map details
  apps/delivery-options/package.json
  apps/delivery-options/src/assets/_leaflet.scss
  apps/delivery-options/src/components/common/DoButton/DoButton.vue
  apps/delivery-options/src/components/map/OsmMap/OsmMap.vue
  apps/delivery-options/src/components/map/OsmMapInner/OsmMapInner.vue
  apps/delivery-options/src/components/map/OsmMarker/OsmMarker.vue
  apps/delivery-options/src/form/useDeliveryOptionsForm.ts
  apps/delivery-options/src/types/map.types.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/MyParcelDeliveryOptions.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupLocationList.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupLocationListItem.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupLocationName.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationMap/PickupLocationDetails.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationMap/PickupLocationMap.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationMapMarker/PickupLocationMapMarker.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationOpeningHours/PickupLocationOpeningHours.vue
  apps/delivery-options/tailwind.config.ts
  apps/sandbox/package.json
  apps/sandbox/tailwind.config.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: update yarn
  .yarn/releases/yarn-4.0.1.cjs
  .yarn/releases/yarn-4.0.2.cjs
  .yarnrc.yml
  package.json
Owners: @myparcelnl/frontend, @myparcelnl/integration

fix(sandbox): improve look of sandbox
  apps/sandbox/src/App.vue
  apps/sandbox/src/DeliveryOptionsDemo.vue
  apps/sandbox/src/components/layout/SandboxHeader.vue
Owners: @myparcelnl/frontend

test(shared): fix failing tests
  libs/shared/src/composables/useFullCarrier.spec.ts
  libs/shared/src/utils/getCarrierConfiguration.spec.ts
Owners: @myparcelnl/frontend

fix: correctly create asset urls
  libs/shared/src/components/CarrierLogo.vue
  libs/shared/src/composables/index.ts
  libs/shared/src/composables/useAssetUrl.ts
  libs/shared/src/utils/createAssetUrl.spec.ts
  libs/shared/src/utils/createAssetUrl.ts
  libs/shared/src/utils/index.ts
Owners: @myparcelnl/frontend

refactor: remove broken imports
  apps/delivery-options/src/config/getDefaultStrings.ts
Owners: @myparcelnl/frontend

test: update snapshot
  libs/shared/src/utils/__snapshots__/getPlatformConfig.spec.ts.snap
Owners: @myparcelnl/frontend

refactor(sandbox): delete legacy components
  apps/sandbox/src/components/legacy/CCodeDisplay.vue
  apps/sandbox/src/components/legacy/Heading.vue
  apps/sandbox/src/components/legacy/Help.vue
  apps/sandbox/src/components/legacy/HomeCodeBlock.vue
  apps/sandbox/src/components/legacy/HomeDeliveryOptionsBlock.vue
  apps/sandbox/src/components/legacy/PreLoader.vue
  apps/sandbox/src/components/legacy/SandboxIntroduction.vue
  apps/sandbox/src/components/legacy/SandboxSettings.vue
  apps/sandbox/src/components/legacy/SandboxTabs.vue
  apps/sandbox/src/components/legacy/SettingsForm.vue
Owners: @myparcelnl/frontend

feat: render initial map view
  apps/delivery-options/package.json
  apps/delivery-options/src/components/map/OsmMap/OsmMap.vue
  apps/delivery-options/src/components/map/OsmMapInner/OsmMapInner.vue
  apps/delivery-options/src/components/map/OsmMarker/OsmMarker.vue
  apps/delivery-options/src/types/map.types.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationMap/PickupLocationMap.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocations.vue
  libs/shared/src/types/config.types.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: update sandbox vite config
  apps/sandbox/vite.config.ts
Owners: @myparcelnl/frontend

feat: improve pickup location emit logic
  apps/delivery-options/src/__tests__/utils/index.ts
  apps/delivery-options/src/composables/useDeliveryOptionsOutgoingEvents.ts
  apps/delivery-options/src/composables/usePickupLocation.spec.ts
  apps/delivery-options/src/composables/usePickupLocation.ts
  apps/delivery-options/src/form/index.ts
  apps/delivery-options/src/types/form.types.ts
  apps/delivery-options/src/utils/convertOutput.spec.ts
  apps/delivery-options/src/utils/convertOutput.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/DeliveryOptionsForm/DeliveryOptionsForm.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupLocationDetails.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupLocationList.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupLocationListItem.vue
  libs/shared/src/composables/useFullCarrier.spec.ts
  libs/shared/src/data/enums.ts
  libs/shared/src/types/output.types.ts
Owners: @myparcelnl/frontend

fix(sandbox): fix props being overridden
  apps/sandbox/src/form/formField.ts
Owners: @myparcelnl/frontend

build(gha): fix nx commands not working
  .github/workflows/push.yml
  .github/workflows/run-tests.yml
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): temporarily allow to pass with failing tests
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(pickup): improve marker style
  apps/delivery-options/src/assets/_leaflet.scss
  apps/delivery-options/src/components/map/OsmMap/OsmMap.vue
  apps/delivery-options/src/utils/createCarrierMarkerIcon.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationMapMarker/PickupLocationMapMarker.vue
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(pickup): keep selected marker on top
  apps/delivery-options/src/assets/_leaflet.scss
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: remove unused strings
  libs/shared/src/data/stringsKeys.ts
Owners: @myparcelnl/frontend

fix(pickup): improve centering of markers
  apps/delivery-options/src/components/map/LeafletMapInner/LeafletMapInner.vue
  apps/delivery-options/src/components/map/LeafletMarker/LeafletMarker.vue
Owners: @myparcelnl/frontend

feat: show carrier in pickup locations
  apps/delivery-options/src/composables/usePickupLocation.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupLocationListItem.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationMap/PickupLocationDetails.vue
  libs/shared/src/composables/useFullCarrier.ts
Owners: @myparcelnl/frontend

feat(sandbox): render descriptions
  apps/sandbox/src/components/FieldWrapper.vue
  apps/sandbox/src/components/SubText.vue
  apps/sandbox/src/components/form/SandboxSettingsGroup.vue
  apps/sandbox/src/composables/useLanguage.ts
  apps/sandbox/src/form/formField.ts
Owners: @myparcelnl/frontend

fix: fix browser saved settings not being honored
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupLocationList.vue
  apps/sandbox/src/components/SandboxAddressBox.vue
  apps/sandbox/src/components/SandboxCarrierConfigBox.vue
  apps/sandbox/src/components/SandboxConfiguration.vue
  apps/sandbox/src/form/allParentsHave.ts
  apps/sandbox/src/form/formField.ts
  apps/sandbox/src/stores/useSandboxStore.ts
  apps/sandbox/src/utils/findSandboxOption.ts
  apps/sandbox/src/utils/getDefaultValueForType.ts
  apps/sandbox/src/utils/index.ts
  libs/shared/src/types/form.types.ts
  libs/shared/src/types/input.types.ts
Owners: @myparcelnl/frontend

feat: render map markers
  apps/delivery-options/src/assets/_leaflet.scss
  apps/delivery-options/src/assets/index.scss
  apps/delivery-options/src/components/map/OsmMap/OsmMap.vue
  apps/delivery-options/src/components/map/OsmMapInner/OsmMapInner.vue
  apps/delivery-options/src/components/map/OsmMarker/OsmMarker.vue
  apps/delivery-options/src/composables/useLeaflet.ts
  apps/delivery-options/src/types/map.types.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/DeliveryOptionsForm/DeliveryOptionsForm.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/MyParcelDeliveryOptions.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationMap/PickupLocationMap.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationMapMarker/PickupLocationMapMarker.vue
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: shorten imports
  apps/delivery-options/src/composables/useActiveCarrier.ts
  apps/sandbox/src/components/AutoAnchor.vue
  libs/shared/src/sdk/useCarrierRequest.ts
  libs/shared/src/sdk/useCarriersRequest.spec.ts
  libs/shared/src/sdk/useCarriersRequest.ts
  libs/shared/src/sdk/useDeliveryOptionsRequest.ts
  libs/shared/src/sdk/usePickupLocationsRequest.ts
  libs/shared/src/types/platform.types.ts
  libs/shared/src/utils/getCarrierConfiguration.spec.ts
  libs/shared/src/utils/getFullCarrier.spec.ts
  libs/shared/src/utils/getPlatformConfig.spec.ts
  libs/shared/src/validator/validateDropOffDays.ts
Owners: @myparcelnl/frontend

build: import translations before build
  .github/workflows/push.yml
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: remove unused component generic
  apps/sandbox/src/components/base/SandboxTextInput.vue
Owners: @myparcelnl/frontend

.github/CODEOWNERS:

# --- Only frontend developers ---
*  @myparcelnl/frontend

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Exceptions ---
# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
