Repository myparcelnl/delivery-options, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/frontend, @myparcelnl/integration, @myparcelnl/it-support

fix: stop disallowed package types from being displayed (#134)
  src/data/carriers/abstractCarrierConfiguration.js
  src/delivery-options/config/configBus.js
  tests/unit/delivery-options/carrierConfiguration.spec.js
Owners: @myparcelnl/frontend

chore(release): 5.2.3 [skip ci]
  CHANGELOG.md
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

Notes added by 'git notes add'
  3b6747a06b47813edf1eb7ad34209058b40f28d6
Owners: @myparcelnl/frontend

Deploying to gh-pages from @ d44e95174225fa3e92a99f00bb7717816fd7ea5b 🚀
  index.html
  js/PreLoader.30bdc16c.js
  js/SandboxFooter.604771bd.js
  js/SandboxFooter.d9783a23.js
  js/SandboxHeader.f618cf97.js
  js/SandboxIntroduction.e080819f.js
  js/SandboxSettings.0483322d.js
  js/chunk-51c52110.9e046451.js
  js/chunk-vendors.869655ae.js
  js/chunk-vendors.ae9c07b2.js
  js/components/CCodeDisplay.2fe80e26.js
  myparcel.js
  myparcel.lib.js
  precache-manifest.5b3e739879610baaebd1e4e7b1c78625.js
  precache-manifest.7f8bcabe4b67a39f48be689659745b2b.js
  precache-manifest.ca4123751cb2f262cf1af3e578d72a68.js
  sandbox.js
  service-worker.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: add pickup to dhlforyou features
  src/data/carriers/dhlForYouCarrierConfiguration.js
Owners: @myparcelnl/frontend

feat: add only recipient and signature to dhlforyou
  src/data/carriers/dhlForYouCarrierConfiguration.js
Owners: @myparcelnl/frontend

feat: add features to dhlforyou (#140)
  src/data/carriers/dhlForYouCarrierConfiguration.js
Owners: @myparcelnl/frontend

chore(release): 5.3.0 [skip ci]
  CHANGELOG.md
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

Notes added by 'git notes add'
  fb7d28b754b569ddb4faff6748173453dcf7fef8
Owners: @myparcelnl/frontend

Deploying to gh-pages from @ 4905f2315bdf867c8f1f3cc393135c0a746423d9 🚀
  js/PreLoader.4c040b8b.js
  js/SandboxFooter.0f2d753b.js
  js/SandboxFooter.604771bd.js
  js/SandboxHeader.c4e6d92b.js
  js/SandboxIntroduction.2a86550c.js
  js/SandboxSettings.0d184666.js
  js/chunk-51c52110.856f0dc4.js
  js/chunk-vendors.456abdce.js
  js/chunk-vendors.869655ae.js
  js/components/CCodeDisplay.b2101dc7.js
  myparcel.js
  myparcel.lib.js
  precache-manifest.1c4c0a1e690b07883e1a21644ce29463.js
  precache-manifest.47acb5eaaee4c49ac5a1a25f6c7b7b11.js
  precache-manifest.d6bc206f6371da0f288a9eabb2c9e0c2.js
  sandbox.js
  service-worker.js
Owners: @myparcelnl/frontend

fix: remove pwa
  package.json
  public/index.html
  public/site.webmanifest
  vue.config.js
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(sandbox): remove pwa (#142)
  package.json
  public/index.html
  public/site.webmanifest
  vue.config.js
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: use new authentication
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: fix husky hooks
  .husky/pre-commit
Owners: @myparcelnl/frontend

build: update myparcel actions
  .github/workflows/--run-tests.yml
  .github/workflows/live-api-test.yml
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): optimize workflows
  .github/workflows/--run-tests.yml
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

wip
  .env
  index.html
  package.json
  src/assets/scss/_variables.scss
  src/assets/scss/sandbox/_bootstrap.scss
  src/assets/scss/sandbox/style.scss
  src/config/appConfig.js
  src/delivery-options/components/Pickup/Map/createIcons.js
  src/delivery-options/config/getWindowObject.js
  src/delivery-options/cssClassBase.js
  src/delivery-options/main.js
  src/delivery-options/services/directives/v-test.js
  src/helpers/environment.js
  src/sandbox/components/HomeDeliveryOptionsBlock.vue
  src/sandbox/components/SandboxFooter.vue
  src/sandbox/components/form/CCountrySelect.vue
  src/sandbox/main.js
  src/vite-env.d.ts
  tests/jest-setup/env.js
  tests/unit/delivery-options/components/main.spec.js
  tests/unit/delivery-options/mockVue.js
  tests/unit/sandbox/mockVue.js
  vite.config.js
  vue.config.js
  yarn.lock
Owners: @myparcelnl/frontend, @myparcelnl/integration

wip
  .eslintrc
  package.json
  src/config/appConfig.js
  vite-common.config.js
  vite.config.js
  vite.do-lib.config.js
  vite.do.config.js
  vue.config.js
  yarn.lock
Owners: @myparcelnl/frontend, @myparcelnl/integration

build: update release flow
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: update files
  .gitignore
  yarn.lock
Owners: @myparcelnl/frontend

feat: show carriers without delivery moments
  src/config/defaultStrings.js
  src/config/localeConfig.js
  src/data/keys/addressKeys.js
  src/data/keys/stringsKeys.js
  src/delivery-options/DeliveryOptions.vue
  src/delivery-options/components/Errors.vue
  src/delivery-options/components/Pickup/PickupDetails.vue
  src/delivery-options/components/RecursiveForm/RecursiveForm.vue
  src/delivery-options/components/RecursiveForm/getDependencies.js
  src/delivery-options/data/delivery/createDeliveryOptions.js
  src/delivery-options/data/pickup/getPickupDate.js
  src/delivery-options/data/pickup/getPickupMoments.js
  src/delivery-options/data/request/fetchFromEndpoint.js
  src/sandbox/translations/en.js
  types/index.d.ts
Owners: @myparcelnl/frontend

test: update tests
  package.json
  src/delivery-options/DeliveryOptions.vue
  src/delivery-options/components/Errors.vue
  tests/__mocks__/@myparcel/js-sdk/dist/data/fakeDeliveryOptionsResponse.js
  tests/unit/createWaitableMock.js
  tests/unit/delivery-options/components/DeliveryOptions.spec.js
  tests/unit/delivery-options/components/main.spec.js
  tests/unit/delivery-options/mockVue.js
  tests/unit/sandbox/mockVue.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: add lockfile
  yarn.lock
Owners: @myparcelnl/frontend

feat: auto-detect required fields
  src/config/errorConfig.js
  src/data/keys/addressKeys.js
  src/delivery-options/components/Errors.vue
  src/delivery-options/data/pickup/fetchPickupLocations.js
  src/delivery-options/data/request/fetchFromEndpoint.js
  src/helpers/delivery/getCutoffTime.js
  src/sandbox/translations/en.js
Owners: @myparcelnl/frontend

feat: add error 3501
  src/config/defaultStrings.js
  src/config/errorConfig.js
  src/data/keys/stringsKeys.js
Owners: @myparcelnl/frontend

feat: improve error handling (#132)
  .gitignore
  package.json
  src/config/defaultStrings.js
  src/config/errorConfig.js
  src/config/localeConfig.js
  src/data/keys/addressKeys.js
  src/data/keys/stringsKeys.js
  src/delivery-options/DeliveryOptions.vue
  src/delivery-options/components/Errors.vue
  src/delivery-options/components/Pickup/PickupDetails.vue
  src/delivery-options/components/RecursiveForm/RecursiveForm.vue
  src/delivery-options/components/RecursiveForm/getDependencies.js
  src/delivery-options/data/delivery/createDeliveryOptions.js
  src/delivery-options/data/pickup/fetchPickupLocations.js
  src/delivery-options/data/pickup/getPickupDate.js
  src/delivery-options/data/pickup/getPickupMoments.js
  src/delivery-options/data/request/fetchFromEndpoint.js
  src/helpers/delivery/getCutoffTime.js
  src/sandbox/translations/en.js
  tests/__mocks__/@myparcel/js-sdk/dist/data/fakeDeliveryOptionsResponse.js
  tests/unit/createWaitableMock.js
  tests/unit/delivery-options/components/DeliveryOptions.spec.js
  tests/unit/delivery-options/components/main.spec.js
  tests/unit/delivery-options/mockVue.js
  tests/unit/sandbox/mockVue.js
  types/index.d.ts
  yarn.lock
Owners: @myparcelnl/frontend, @myparcelnl/integration

build: update to yarn berry and node 18
  .github/workflows/--run-tests.yml
  .github/workflows/live-api-test.yml
  .github/workflows/release.yml
  .gitignore
  .yarn/releases/yarn-3.4.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): support merge queue and add concurrency
  .github/workflows/release.yml
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(deps): update dependencies
  yarn.lock
Owners: @myparcelnl/frontend

build(gha): fix build
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs(sandbox): distinguish between different carriers
  .eslintrc
  src/sandbox/components/FormGroup.vue
  src/sandbox/services/bootstrap.js
Owners: @myparcelnl/frontend

feat: show carrier name next to logo
  src/assets/scss/delivery-options/_variables.scss
  src/delivery-options/components/RecursiveForm/RecursiveForm.vue
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: fix broken import
  src/delivery-options/components/Pickup/Map/Leaflet.vue
Owners: @myparcelnl/frontend

test: increase coverage
  .eslintrc
  src/config/localeConfig.js
  src/config/platform/platformLocaleMap.js
  src/data/carriers/abstractCarrierConfiguration.js
  src/data/carriers/bpostCarrierConfiguration.js
  src/data/carriers/dhlCarrierConfiguration.js
  src/data/carriers/dhlEuroplusCarrierConfiguration.js
  src/data/carriers/dhlForYouCarrierConfiguration.js
  src/data/carriers/dhlParcelConnectCarrierConfiguration.js
  src/data/carriers/dpdCarrierConfiguration.js
  src/data/carriers/postNlCarrierConfiguration.js
  src/data/defaultAddress.js
  src/delivery-options/components/Pickup/Map/Leaflet.vue
  src/delivery-options/config/configBus.js
  src/delivery-options/config/exports/DeliveryExportValues.js
  tests/unit/delivery-options/__snapshots__/carrierConfigurationFactory.spec.js.snap
  tests/unit/delivery-options/carrierConfiguration.spec.js
  tests/unit/delivery-options/carrierConfigurationFactory.spec.js
Owners: @myparcelnl/frontend

build: add bundlewatch
  .github/actions/build/action.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): update workflows
  .github/actions/build/action.yml
  .github/actions/test/action.yml
  .github/workflows/--run-tests.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): update workflows
  .github/actions/build/action.yml
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs(sandbox): distinguish between different carriers (#154)
  .eslintrc
  src/sandbox/components/FormGroup.vue
  src/sandbox/services/bootstrap.js
Owners: @myparcelnl/frontend

feat: show carrier name next to logo (#159)
  src/assets/scss/delivery-options/_variables.scss
  src/delivery-options/components/RecursiveForm/RecursiveForm.vue
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): update workflows
  .github/actions/build/action.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  public/.nojekyll
Owners: @myparcelnl/integration, @myparcelnl/frontend

.github/CODEOWNERS:

# --- Only frontend developers ---
*  @myparcelnl/frontend

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Exceptions ---
# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
