Repository myparcelnl/delivery-options, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/frontend, @myparcelnl/integration, @myparcelnl/it-support

chore: update ide files
  .run/All Tests.run.xml
Owners: @myparcelnl/frontend

fix: fix config change not reloading carriers (#201)
  src/delivery-options/DeliveryOptions.vue
Owners: @myparcelnl/frontend

fix: dpd pickup error
  src/data/carriers/dpdCarrierConfiguration.js
Owners: @myparcelnl/frontend

fix: dpd pickup error
  tests/unit/delivery-options/__snapshots__/carrierConfigurationFactory.spec.js.snap
Owners: @myparcelnl/frontend

test: update snapshots
  tests/unit/delivery-options/__snapshots__/carrierConfigurationFactory.spec.js.snap
Owners: @myparcelnl/frontend

fix: dpd pickup error (#202)
  src/data/carriers/dpdCarrierConfiguration.js
  tests/unit/delivery-options/__snapshots__/carrierConfigurationFactory.spec.js.snap
Owners: @myparcelnl/frontend

feat: add blacklist for delivery countries
  src/data/carriers/abstractCarrierConfiguration.js
  src/data/carriers/upsCarrierConfiguration.js
Owners: @myparcelnl/frontend

test: add test
  tests/unit/delivery-options/__snapshots__/carrierConfigurationFactory.spec.js.snap
  tests/unit/delivery-options/carrierConfigurationFactory.spec.js
Owners: @myparcelnl/frontend

test: add some more test
  tests/unit/delivery-options/__snapshots__/carrierConfigurationFactory.spec.js.snap
  tests/unit/delivery-options/carrierConfigurationFactory.spec.js
Owners: @myparcelnl/frontend

refactor: sort out country imports
  src/data/carriers/upsCarrierConfiguration.js
Owners: @myparcelnl/frontend

feat: add blacklist for delivery countries (#203)
  src/data/carriers/abstractCarrierConfiguration.js
  src/data/carriers/upsCarrierConfiguration.js
  tests/unit/delivery-options/__snapshots__/carrierConfigurationFactory.spec.js.snap
  tests/unit/delivery-options/carrierConfigurationFactory.spec.js
Owners: @myparcelnl/frontend

feat: add chunk of delivery options
  apps/delivery-options/package.json
  apps/delivery-options/src/components/DeliveryDateSelector.vue
  apps/delivery-options/src/components/DeliveryMomentSelector.vue
  apps/delivery-options/src/components/DeliveryOptionsForm.vue
  apps/delivery-options/src/components/EcoFriendlyLabel.vue
  apps/delivery-options/src/components/HomeDelivery.vue
  apps/delivery-options/src/components/MyParcelDeliveryOptions.vue
  apps/delivery-options/src/components/PickupLocations.vue
  apps/delivery-options/src/components/PriceTag.vue
  apps/delivery-options/src/components/form/CheckboxGroupInput.vue
  apps/delivery-options/src/components/form/CheckboxInput.vue
  apps/delivery-options/src/components/form/RadioGroupInput.vue
  apps/delivery-options/src/components/form/RadioInput.vue
  apps/delivery-options/src/components/form/SelectInput.vue
  apps/delivery-options/src/env.d.ts
  apps/delivery-options/src/legacy/config/exports/DeliveryExportValues.ts
  apps/delivery-options/src/legacy/config/getConfig.ts
  apps/delivery-options/src/legacy/data/pickup/getPickupLocations.ts
  apps/delivery-options/src/legacy/data/request/requestData.ts
  apps/delivery-options/src/legacy/showDeveloperInfo.ts
  apps/delivery-options/tsconfig.base.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: remove legacy carrier fetching logic
  apps/delivery-options/src/legacy/data/carriers/createCarrierData.ts
  apps/delivery-options/src/legacy/data/carriers/fetchAllCarriers.ts
  apps/delivery-options/src/legacy/data/carriers/fetchCarrierData.ts
  apps/delivery-options/src/legacy/data/carriers/formatCarrierResponse.ts
  apps/delivery-options/src/legacy/data/carriers/index.ts
  apps/delivery-options/src/legacy/data/carriers/resolveCarrierName.ts
Owners: @myparcelnl/frontend

build: update tsconfig
  tsconfig.base.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: clean up constants
  apps/delivery-options/src/legacy/data/index.ts
  apps/sandbox/src/config/getDefaultSandboxConfiguration.ts
  apps/sandbox/src/legacy/settings/formParts/stringForm.ts
  libs/shared/src/composables/getCarrierConfiguration.ts
  libs/shared/src/config/getDefaultConfiguration.ts
  libs/shared/src/config/getDefaultStrings.ts
  libs/shared/src/config/index.ts
  libs/shared/src/config/options.ts
  libs/shared/src/data/carrierFeatures.ts
  libs/shared/src/data/defineDeliveryOption.ts
  libs/shared/src/data/events.ts
  libs/shared/src/data/index.ts
  libs/shared/src/data/options.ts
  libs/shared/src/data/platformKeys.ts
  libs/shared/src/index.ts
  libs/shared/src/legacy/config/index.ts
  libs/shared/src/legacy/data/carriers/abstractCarrierConfiguration.ts
  libs/shared/src/legacy/data/carriers/bpostCarrierConfiguration.ts
  libs/shared/src/legacy/data/carriers/dhlCarrierConfiguration.ts
  libs/shared/src/legacy/data/carriers/dhlEuroplusCarrierConfiguration.ts
  libs/shared/src/legacy/data/carriers/dhlForYouCarrierConfiguration.ts
  libs/shared/src/legacy/data/carriers/dhlParcelConnectCarrierConfiguration.ts
  libs/shared/src/legacy/data/carriers/dpdCarrierConfiguration.ts
  libs/shared/src/legacy/data/carriers/postNlCarrierConfiguration.ts
  libs/shared/src/legacy/data/carriers/upsCarrierConfiguration.ts
  libs/shared/src/legacy/data/index.ts
  libs/shared/src/legacy/data/keys/index.ts
  libs/shared/src/sdk/useQueryClient.ts
  libs/shared/src/types/config.types.ts
  libs/shared/src/types/index.ts
  libs/shared/src/utils/defineConfig.ts
  libs/shared/src/utils/defineDeliveryOption.ts
  libs/shared/src/utils/defineOption.ts
  libs/shared/src/utils/defineOptionWithPrice.ts
  libs/shared/src/utils/index.ts
  libs/shared/src/utils/resolveCarrierName.ts
Owners: @myparcelnl/frontend

refactor: update passing components
  apps/sandbox/src/components/DeliveryOptionsBlock.vue
  libs/shared/src/constants.ts
  libs/shared/src/stores/useDeliveryOptionsStore.ts
Owners: @myparcelnl/frontend

refactor: fix storing in local storage
  apps/sandbox/src/stores/useSandboxStore.ts
Owners: @myparcelnl/frontend

refactor: use tailwind prefix everywhere
  apps/delivery-options/src/components/EcoFriendlyLabel.vue
  apps/delivery-options/src/components/form/RadioGroupInput.vue
  apps/delivery-options/tailwind.config.ts
  apps/sandbox/index.html
  apps/sandbox/src/App.vue
  apps/sandbox/src/assets/_tables.scss
  apps/sandbox/src/assets/_typography.scss
  apps/sandbox/src/assets/style.scss
  apps/sandbox/src/components/Box.ts
  apps/sandbox/src/components/CButton.vue
  apps/sandbox/src/components/Container.ts
  apps/sandbox/src/components/FieldWrapper.vue
  apps/sandbox/src/components/FormSection.vue
  apps/sandbox/src/components/FormSettingsGroup.vue
  apps/sandbox/src/components/SandboxConfiguration.vue
  apps/sandbox/src/components/SandboxFooter.vue
  apps/sandbox/src/components/SandboxHeader.vue
  apps/sandbox/src/components/base/CurrencyInput.vue
  apps/sandbox/src/components/base/RadioGroupInput.vue
  apps/sandbox/src/components/base/ToggleInput.vue
  apps/sandbox/src/composables/useBaseInputClasses.ts
  apps/sandbox/src/composables/useElInputClasses.ts
  apps/sandbox/src/constants.ts
  apps/sandbox/tailwind.config.ts
Owners: @myparcelnl/frontend, @myparcelnl/integration

chore: update ide files
  .idea/codeStyles/Project.xml
  .idea/runConfigurations/delivery_options.xml
  .idea/runConfigurations/sandbox.xml
  .idea/runConfigurations/shared.xml
Owners: @myparcelnl/frontend

test: clean up tests
  apps/delivery-options/src/__tests__/legacy/carrierConfiguration.spec.ts
  apps/delivery-options/src/__tests__/legacy/carrierConfigurationFactory.spec.ts
  apps/delivery-options/src/__tests__/legacy/carriers.spec.ts
  apps/delivery-options/src/__tests__/legacy/components/DeliveryOptions.spec.ts
  apps/delivery-options/src/__tests__/legacy/components/RecursiveForm/getDependencies.spec.ts
  apps/delivery-options/src/__tests__/legacy/components/main.spec.ts
  apps/delivery-options/src/__tests__/legacy/configBus.spec.ts
  apps/delivery-options/src/__tests__/legacy/configurationMerger.spec.ts
  apps/delivery-options/src/__tests__/legacy/dates.spec.ts
  apps/delivery-options/src/__tests__/legacy/delivery/data.ts
  apps/delivery-options/src/__tests__/legacy/delivery/deliveryMoment.spec.ts
  apps/delivery-options/src/__tests__/legacy/delivery/dropOffDays.spec.ts
  apps/delivery-options/src/__tests__/legacy/delivery/hasSameDayDelivery.spec.ts
  apps/delivery-options/src/__tests__/legacy/fetchFromEndpoint.spec.ts
  apps/delivery-options/src/__tests__/legacy/getRequestParameters.spec.ts
  apps/delivery-options/src/__tests__/legacy/getWeekdays.spec.ts
  apps/delivery-options/src/__tests__/legacy/mockConfigBus.ts
  apps/delivery-options/src/__tests__/legacy/mockVue.ts
  apps/delivery-options/src/__tests__/legacy/prices.spec.ts
  apps/delivery-options/src/__tests__/legacy/testLiveApi.spec.ts
  apps/sandbox/src/__tests__/legacy/formComponents.spec.ts
  libs/shared/src/__tests__/getDeliveryOption.spec.ts
  libs/shared/src/__tests__/index.ts
  libs/shared/src/__tests__/legacy/helpers/getMockedDeliveryDateChoices.ts
  libs/shared/src/__tests__/legacy/helpers/index.ts
  libs/shared/src/__tests__/legacy/waitForEvent.ts
  libs/shared/src/__tests__/mocks/delivery-options/findExtraDelivery.ts
  libs/shared/src/__tests__/mocks/delivery-options/getNextDeliveryOption.ts
  libs/shared/src/__tests__/mocks/fakeDeliveryOptionsResponse.ts
  libs/shared/src/__tests__/waitForEvent.ts
Owners: @myparcelnl/frontend

refactor: emit events
  apps/delivery-options/src/components/MyParcelDeliveryOptions.vue
  apps/delivery-options/src/composables/useEmitDeliveryOptionsEvents.ts
  apps/delivery-options/src/composables/useUpdateDeliveryOptions.spec.ts
  apps/delivery-options/src/composables/useUpdateDeliveryOptions.ts
Owners: @myparcelnl/frontend

refactor: fix props on inputs
  apps/delivery-options/src/components/form/SelectInput.vue
  apps/sandbox/src/components/base/SelectInput.vue
  apps/sandbox/src/components/form/FormSelectInput.vue
Owners: @myparcelnl/frontend

chore: update ide files
  .idea/codeStyles/Project.xml
  .idea/delivery-options.iml
  .idea/jsLinters/eslint.xml
Owners: @myparcelnl/frontend

chore(deps): add happy-dom
  apps/delivery-options/package.json
  tsconfig.base.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: update delivery
  apps/delivery-options/src/components/DeliveryDateSelector.vue
  apps/delivery-options/src/components/DeliveryMomentSelector.vue
  apps/delivery-options/src/components/DeliveryOptionsForm.vue
  apps/delivery-options/src/components/RadioGroupTabs.vue
  apps/delivery-options/src/components/ShipmentOptionsSelector.vue
  apps/delivery-options/src/composables/useActiveCarriers.ts
  apps/delivery-options/src/composables/useResolvedDeliveryDates.ts
  apps/delivery-options/src/composables/useResolvedDeliveryOptions.ts
  apps/delivery-options/src/composables/useSelectedDeliveryDate.ts
  apps/delivery-options/src/composables/useSelectedDeliveryMoment.ts
  apps/delivery-options/src/form/createDeliveryOptionsForm.ts
  apps/delivery-options/src/types/carriers.types.ts
  apps/delivery-options/src/types/form.types.ts
  apps/delivery-options/src/utils/createShipmentOptionsFromDeliveryMoment.ts
  apps/delivery-options/src/utils/getResolvedCarrier.ts
  apps/sandbox/src/components/SandboxConfiguration.vue
  apps/sandbox/src/config/getDefaultSandboxConfiguration.ts
  apps/sandbox/src/form/createChildSections.ts
  apps/sandbox/src/form/getSandboxOptionGroups.ts
  apps/sandbox/src/form/index.ts
  apps/sandbox/src/form/resolveSandboxGroup.ts
  apps/sandbox/src/stores/useSandboxStore.ts
  apps/sandbox/src/types/form.types.ts
  libs/shared/src/components/CheckboxGroupInput.vue
  libs/shared/src/composables/index.ts
  libs/shared/src/composables/useActiveCarriers.ts
  libs/shared/src/composables/useConfigCarriers.ts
  libs/shared/src/data/configKeys.ts
  libs/shared/src/enums.ts
  libs/shared/src/utils/index.ts
Owners: @myparcelnl/frontend

refactor: use price per carrier
  apps/delivery-options/src/components/DeliveryMomentSelector.vue
Owners: @myparcelnl/frontend

chore(deps): update @myparcel/vue-form-builder
  yarn.lock
Owners: @myparcelnl/frontend

test: add snapshots
  apps/delivery-options/src/utils/__snapshots__/getDeliveryTypeConfigMap.spec.ts.snap
  apps/delivery-options/src/utils/__snapshots__/getShipmentOptionConfigMap.spec.ts.snap
Owners: @myparcelnl/frontend

refactor: remove obsolete code
  libs/shared/src/data/addressKeys.ts
  libs/shared/src/data/index.ts
  libs/shared/src/data/packageTypeConfig.ts
Owners: @myparcelnl/frontend

refactor: add time field
  apps/sandbox/src/form/getComponent.ts
  libs/shared/src/utils/defineOption.ts
  libs/shared/src/validator/index.ts
  libs/shared/src/validator/timeValidator.ts
Owners: @myparcelnl/frontend

chore(deps): update to vite 5
  apps/sandbox/package.json
  libs/build-vite/index.js
  libs/build-vite/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: rename request composables
  apps/delivery-options/src/composables/useResolvedDeliveryOptions.ts
  apps/sandbox/src/components/SandboxCarrierFormSections.vue
  libs/shared/src/components/CarrierLogo.vue
  libs/shared/src/composables/useActiveCarriers.ts
  libs/shared/src/composables/useCarrierConfiguration.spec.ts
  libs/shared/src/composables/useCarrierConfiguration.ts
  libs/shared/src/sdk/index.ts
  libs/shared/src/sdk/useCarrierRequest.spec.ts
  libs/shared/src/sdk/useCarrierRequest.ts
  libs/shared/src/sdk/useCarriersRequest.spec.ts
  libs/shared/src/sdk/useCarriersRequest.ts
  libs/shared/src/sdk/useDeliveryOptionsRequest.ts
  libs/shared/src/sdk/usePickupLocationsRequest.ts
  libs/shared/src/sdk/useRequest.spec.ts
Owners: @myparcelnl/frontend

refactor: clean up code
  apps/delivery-options/src/composables/useResolvedDeliveryOptions.ts
  libs/shared/src/composables/form/useInputOptions.ts
  libs/shared/src/validator/booleanValidator.ts
  libs/shared/src/validator/dateValidator.ts
  libs/shared/src/validator/numberValidator.ts
  libs/shared/src/validator/rangeValidator.ts
  libs/shared/src/validator/stringValidator.ts
  libs/shared/src/validator/valueValidator.ts
Owners: @myparcelnl/frontend

refactor: improve select
  apps/sandbox/src/assets/_forms.scss
  apps/sandbox/src/assets/style.scss
  apps/sandbox/src/components/base/SandboxCheckboxInput.vue
  apps/sandbox/src/components/base/SandboxSelectInput.vue
  apps/sandbox/src/components/form/FormSelectInput.vue
  libs/shared/src/components/SelectInput.vue
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor(sandbox): fix dark mode
  apps/sandbox/src/components/ColorModeSwitcher.vue
Owners: @myparcelnl/frontend

refactor: fix extraneous attributes warning
  apps/delivery-options/src/components/HomeDelivery.vue
Owners: @myparcelnl/frontend

refactor: link translations to form
  apps/delivery-options/src/form/createDeliveryOptionsForm.ts
Owners: @myparcelnl/frontend

test: add @testing-library/vue
  libs/shared/package.json
  libs/shared/src/__tests__/vitest-setup.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: fill in carrier capabilities
  libs/shared/src/composables/useCarrierConfiguration.ts
  libs/shared/src/data/carrierFeatures.ts
  libs/shared/src/data/platforms.ts
  libs/shared/src/types/platform.types.ts
Owners: @myparcelnl/frontend

test: fix errors
  libs/shared/src/__tests__/mocks/delivery-options/cutoffTimeHasPassed.ts
  libs/shared/src/__tests__/mocks/fakeDeliveryOptionsResponse.ts
Owners: @myparcelnl/frontend

.github/CODEOWNERS:

# --- Only frontend developers ---
*  @myparcelnl/frontend

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Exceptions ---
# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
