Repository myparcelnl/delivery-options, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/frontend, @myparcelnl/integration, @myparcelnl/it-support

fix: improve request and carrier logic
  apps/sandbox/src/components/SandboxPlatformBox.vue
  apps/sandbox/src/composables/useAvailableCarriers.ts
  libs/shared/src/components/CarrierLogo.vue
  libs/shared/src/composables/sdk/index.ts
  libs/shared/src/composables/sdk/requestKeyToString.ts
  libs/shared/src/composables/sdk/useCarrierRequest.ts
  libs/shared/src/composables/sdk/useCarriersRequest.spec.ts
  libs/shared/src/composables/sdk/useCarriersRequest.ts
  libs/shared/src/composables/sdk/useRequest.spec.ts
  libs/shared/src/composables/sdk/useRequest.ts
  libs/shared/src/composables/sdk/useRequestClient.ts
  libs/shared/src/composables/sdk/useRequestStorage.ts
  libs/shared/src/types/query.types.ts
  libs/shared/src/utils/getFullCarrier.ts
Owners: @myparcelnl/frontend

fix: fix relative dates being wrong
  apps/delivery-options/src/composables/useDateFormat.ts
Owners: @myparcelnl/frontend

refactor: update carrier logic
  apps/delivery-options/src/composables/useResolvedCarrier.ts
  apps/delivery-options/src/utils/getResolvedCarrier.ts
  apps/delivery-options/src/utils/index.ts
  apps/delivery-options/src/utils/waitForRequestData.ts
Owners: @myparcelnl/frontend

build: make sandbox commits not trigger release
  apps/delivery-options/release.config.cjs
Owners: @myparcelnl/frontend

test: improve main test
  apps/delivery-options/src/__tests__/utils/createDiv.ts
  apps/delivery-options/src/__tests__/utils/dispatchEvent.ts
  apps/delivery-options/src/__tests__/utils/index.ts
  apps/delivery-options/src/main.spec.ts
Owners: @myparcelnl/frontend

perf: reduce bundle size
  apps/delivery-options/vite-myparcel-lib.config.ts
  apps/delivery-options/vite-myparcel.config.ts
  apps/delivery-options/vite.config.ts
  yarn.lock
Owners: @myparcelnl/frontend

fix: improve unmounting on subsequent render event
  apps/delivery-options/src/main.ts
Owners: @myparcelnl/frontend

build: pass tokens to semantic release
  .github/workflows/push.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: remove leaflet from bundle
  apps/delivery-options/vite-myparcel-lib.config.ts
  apps/delivery-options/vite.config.ts
Owners: @myparcelnl/frontend

refactor: use object destructuring
  apps/delivery-options/src/composables/events/useResolvedValues.ts
Owners: @myparcelnl/frontend

feat(design): update date selector design
  apps/delivery-options/src/components/common/DoButton/DoButton.vue
  apps/delivery-options/src/components/common/index.ts
  apps/delivery-options/src/components/icons/CaretLeftIcon.vue
  apps/delivery-options/src/components/icons/CaretRightIcon.vue
  apps/delivery-options/src/components/icons/index.ts
  apps/delivery-options/src/components/index.ts
  apps/delivery-options/src/composables/index.ts
  apps/delivery-options/src/composables/useBreakpoints.ts
  apps/delivery-options/src/composables/useDateFormat.ts
  apps/delivery-options/src/composables/useElementWidth.ts
  apps/delivery-options/src/composables/useProvideElementWidth.ts
  apps/delivery-options/src/composables/useTimeRange.ts
  apps/delivery-options/src/data/symbols.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryDateSelector/DateBlock.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryDateSelector/DateSelector.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryDateSelector/DeliveryDateSelector.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/MyParcelDeliveryOptions.vue
  apps/sandbox/tailwind.config.ts
Owners: @myparcelnl/frontend

chore: update ide files
  .idea/codeStyles/Project.xml
Owners: @myparcelnl/frontend

fix(pickup): improve map hooks
  apps/delivery-options/src/components/map/LeafletMap/LeafletMap.vue
  apps/delivery-options/src/components/map/LeafletMapInner/LeafletMapInner.vue
  apps/delivery-options/src/components/map/LeafletMarker/LeafletMarker.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationMapMarker/PickupLocationMapMarker.vue
Owners: @myparcelnl/frontend

refactor: add missing imports
  apps/sandbox/src/components/SelectInput.vue
Owners: @myparcelnl/frontend

fix: fix drop-off days not being sent to api correctly
  apps/delivery-options/src/utils/calculateDropOffDays.ts
  apps/delivery-options/src/utils/createGetDeliveryOptionsParameters.ts
  apps/delivery-options/src/utils/index.ts
Owners: @myparcelnl/frontend

feat(sandbox): use carrier box component
  apps/sandbox/src/components/SandboxCarrierConfigBox.vue
  apps/sandbox/src/components/SandboxCarrierFormSections.vue
Owners: @myparcelnl/frontend

test: increase coverage
  libs/shared/src/composables/useClickOutside.spec.ts
  libs/shared/src/composables/useLogger.spec.ts
  libs/shared/src/utils/getConfigKey.spec.ts
  libs/shared/src/utils/getConfigKey.ts
Owners: @myparcelnl/frontend

build: remove unused command
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(pickup): fix pickup output values
  apps/delivery-options/src/composables/events/useResolvedValues.ts
  apps/delivery-options/src/composables/usePickupLocation.spec.ts
  apps/delivery-options/src/composables/useResolvedPickupLocations.ts
  apps/delivery-options/src/composables/useSelectedFullPickupLocation.ts
  apps/delivery-options/src/types/form.types.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationMapMarker/PickupLocationMapMarker.vue
Owners: @myparcelnl/frontend

chore: update eslint config
  .eslintrc.cjs
Owners: @myparcelnl/frontend

build: update release config
  apps/delivery-options/release.config.cjs
Owners: @myparcelnl/frontend

fix(sandbox): improve loading logic
  apps/sandbox/src/App.vue
  apps/sandbox/src/components/ColorModeSwitcher.vue
  apps/sandbox/src/components/DotsLoader.ts
  apps/sandbox/src/components/SandboxAddressBox.vue
  apps/sandbox/src/components/SandboxCarrierConfigBox.vue
  apps/sandbox/src/components/SandboxLoadingIndicator.vue
  apps/sandbox/src/components/form/input/FormDropOffSelector.vue
  apps/sandbox/src/components/index.ts
  apps/sandbox/src/components/layout/SandboxHeader.vue
  apps/sandbox/src/composables/index.ts
  apps/sandbox/src/composables/useColorMode.ts
  apps/sandbox/src/composables/useLanguage.ts
  apps/sandbox/src/main.ts
  apps/sandbox/tailwind.config.ts
  libs/shared/src/components/Loader.ts
Owners: @myparcelnl/frontend

build(gha): disable release dry run
  .github/workflows/push.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: add npm step to semantic release
  apps/delivery-options/release.config.cjs
Owners: @myparcelnl/frontend

build: update release flow
  .github/workflows/push.yml
  apps/delivery-options/package.json
  apps/delivery-options/release.config.cjs
  apps/sandbox/package.json
  libs/build-vite/package.json
  libs/shared/package.json
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: update delivery options build logic
  apps/delivery-options/package.json
  apps/delivery-options/private/createFilenameFormatter.ts
  apps/delivery-options/private/getSharedConfig.ts
  apps/delivery-options/private/index.ts
  apps/delivery-options/src/composables/events/useDeliveryOptionsIncomingEvents.ts
  apps/delivery-options/src/composables/useLanguage.ts
  apps/delivery-options/vite-myparcel-lib.config.ts
  apps/delivery-options/vite-myparcel.config.ts
  apps/delivery-options/vite.config.ts
  apps/sandbox/src/DebugEventLog.vue
  apps/sandbox/src/components/DeliveryOptionsBlock.vue
  apps/sandbox/src/form/availableInPlatform.ts
  libs/build-vite/index.js
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(sandbox): add address presets
  apps/sandbox/src/components/AddressPresetBox.vue
  apps/sandbox/src/components/Box.ts
  apps/sandbox/src/components/FieldWrapper.vue
  apps/sandbox/src/components/SandboxAddressBox.vue
  apps/sandbox/src/components/SandboxConfiguration.vue
  apps/sandbox/src/composables/useAddressSelector.ts
  apps/sandbox/src/utils/index.ts
  apps/sandbox/src/utils/translateCountry.ts
Owners: @myparcelnl/frontend

refactor: expose boot method to index file
  apps/delivery-options/src/index.ts
  apps/delivery-options/src/main.ts
  apps/delivery-options/src/setup/bootDeliveryOptions.ts
  apps/delivery-options/src/setup/index.ts
  apps/delivery-options/src/setup/initializeApp.ts
  apps/delivery-options/src/setup/mountApp.ts
Owners: @myparcelnl/frontend

build: update process.env in output
  apps/delivery-options/private/getSharedConfig.ts
  apps/delivery-options/vite-myparcel-lib.config.ts
  apps/delivery-options/vite-myparcel.config.ts
  apps/delivery-options/vite.config.ts
Owners: @myparcelnl/frontend

docs: update readme
  README.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

build: expose types as .d.cts for publint
  apps/delivery-options/package.json
  apps/delivery-options/vite-myparcel-lib.config.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): update myparcelnl actions to v4
  .github/workflows/pull-request-open.yml
  .github/workflows/pull-request-review.yml
  .github/workflows/pull-request-title.yml
  .github/workflows/push.yml
  .github/workflows/run-tests.yml
  .github/workflows/test.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: remove unnecessary config
  apps/delivery-options/release.config.cjs
Owners: @myparcelnl/frontend

build: fix errors in ci test
  .idea/codeStyles/Project.xml
  apps/delivery-options/src/composables/events/useResolvedValues.ts
  apps/delivery-options/src/composables/useCurrentPlatform.ts
  apps/delivery-options/src/composables/useDateFormat.ts
  apps/delivery-options/src/composables/useFormatDistance.ts
  apps/delivery-options/src/composables/useMostEcoFriendly.ts
  apps/delivery-options/src/composables/usePickupLocation.ts
  apps/delivery-options/src/composables/useSelectedPickupLocation.ts
  apps/delivery-options/src/composables/useShipmentOptionsOptions.ts
  apps/delivery-options/src/composables/useTimeRange.ts
  apps/delivery-options/src/types/carriers.types.ts
  apps/sandbox/src/composables/useCurrentPlatform.ts
  apps/sandbox/src/composables/useWeekdays.ts
  libs/shared/src/composables/form/useInputWithOptionsContext.ts
  libs/shared/src/composables/useResolvedPlatform.ts
  libs/shared/src/types/element.types.ts
Owners: @myparcelnl/frontend

build(nx): remove release and histoire configs from caching
  nx.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: update release config
  apps/delivery-options/release.config.cjs
Owners: @myparcelnl/frontend

chore(deps): update dependencies
  yarn.lock
Owners: @myparcelnl/frontend

build: update release config
  apps/delivery-options/release.config.cjs
Owners: @myparcelnl/frontend

chore(deps): add vue-tsc to workspace packages
  apps/delivery-options/package.json
  libs/shared/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

Notes added by 'git notes add'
  5211d3f484c55230c94d77a7ff847bb66ab749d5
Owners: @myparcelnl/frontend

.github/CODEOWNERS:

# --- Only frontend developers ---
*  @myparcelnl/frontend

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Exceptions ---
# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
