Repository myparcelnl/delivery-options, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/frontend, @myparcelnl/integration, @myparcelnl/it-support

.github/CODEOWNERS:

# --- Only frontend developers ---
*  @myparcelnl/frontend

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Exceptions ---
# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support

Notes added by 'git notes add'
  cada1ff76419de2840a953fbb0cdd45fb9015022
Owners: @myparcelnl/frontend

Notes added by 'git notes add'
  99e4ac3976ff99f06091a135d7a49034eea028e4
Owners: @myparcelnl/frontend

fix(deps): update workspace versions in package.json
  apps/delivery-options/package.json
  libs/semantic-release-plugin/src/prepare/index.ts
  libs/semantic-release-plugin/src/prepare/updatePackageJsonDependencyVersions.ts
  libs/semantic-release-plugin/src/prepare/updateWorkspaceDependencies.ts
  libs/semantic-release-plugin/src/publish/publishNpmPackage.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(pickup): disable pickup for carrier if it throws error
  apps/delivery-options/src/composables/useResolvedPickupLocations.ts
  apps/delivery-options/src/types/carriers.types.ts
  apps/delivery-options/src/utils/getResolvedCarrier.spec.ts
  apps/delivery-options/src/utils/getResolvedCarrier.ts
Owners: @myparcelnl/frontend

fix(deps): update package.json
  apps/delivery-options/package.json
  libs/semantic-release-plugin/src/prepare/index.ts
  libs/semantic-release-plugin/src/prepare/updateWorkspaceDependencies.ts
  libs/semantic-release-plugin/src/publish/index.ts
  libs/semantic-release-plugin/src/publish/updatePackageJsonDependencyVersions.ts
  libs/shared/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(exports): export more types and variables
  apps/delivery-options/src/__snapshots__/index.spec.ts.snap
  apps/delivery-options/src/index.ts
  libs/shared/src/config/getMyParcelConfig.ts
  libs/shared/src/config/getSendMyParcelConfig.ts
  libs/shared/src/data/enums.ts
  libs/shared/src/types/platform.types.ts
  libs/shared/src/utils/getConfigKey.ts
  libs/shared/src/utils/getDeliveryTypeConfigMap.ts
Owners: @myparcelnl/frontend

refactor: simplify time padding method
  apps/delivery-options/src/utils/index.ts
  apps/delivery-options/src/utils/padStart.ts
  apps/delivery-options/src/utils/padTime.spec.ts
  apps/delivery-options/src/utils/padTime.ts
  apps/delivery-options/src/utils/toTime.ts
Owners: @myparcelnl/frontend

fix: sort delivery moments by time
  apps/delivery-options/src/__snapshots__/index.spec.ts.snap
  apps/delivery-options/src/__tests__/utils/createDeliveryPossibility.ts
  apps/delivery-options/src/__tests__/utils/index.ts
  apps/delivery-options/src/__tests__/utils/mockDeliveryOptionsConfig.ts
  apps/delivery-options/src/__tests__/utils/waitForDeliveryOptions.ts
  apps/delivery-options/src/composables/useResolvedDeliveryMoments.ts
  apps/delivery-options/src/composables/useResolvedDeliveryOptions.spec.ts
  apps/delivery-options/src/composables/useResolvedDeliveryOptions.ts
  libs/shared/src/data/constants.ts
  libs/shared/src/utils/createTimestamp.ts
Owners: @myparcelnl/frontend

build: disconnect from nx cloud
  .github/workflows/push.yml
  .github/workflows/run-tests.yml
  .github/workflows/test.yml
  apps/delivery-options/package.json
  nx.json
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: allow cutoff times per carrier
  src/data/keys/configKeys.js
Owners: @myparcelnl/frontend

fix: allow cutoff times per carrier (#211)
  src/data/keys/configKeys.js
Owners: @myparcelnl/frontend

test: update snapshot
  tests/unit/delivery-options/__snapshots__/carrierConfigurationFactory.spec.js.snap
Owners: @myparcelnl/frontend

fix: actually allow saturday and sunday cutoff times per carrier (#212)
  src/config/defaultConfiguration.js
  src/data/carrierFeatures.js
  src/data/carriers/postNlCarrierConfiguration.js
  src/data/keys/configKeys.js
  src/data/locales/nl/config.js
  tests/unit/delivery-options/__snapshots__/carrierConfigurationFactory.spec.js.snap
Owners: @myparcelnl/frontend

feat: add pudo countries for postnl
  src/data/carriers/postNlCarrierConfiguration.js
  tests/unit/delivery-options/__snapshots__/carrierConfigurationFactory.spec.js.snap
Owners: @myparcelnl/frontend

fix: show evening delivery
  src/delivery-options/data/delivery/dependencies/formatDeliveryMoment.js
Owners: @myparcelnl/frontend

fix: actually allow saturday and sunday cutoff times per carrier
  src/config/defaultConfiguration.js
  src/data/carrierFeatures.js
  src/data/carriers/postNlCarrierConfiguration.js
  src/data/keys/configKeys.js
  src/data/locales/nl/config.js
Owners: @myparcelnl/frontend

fix: test
  tests/unit/delivery-options/delivery/deliveryMoment.spec.js
Owners: @myparcelnl/frontend

fix(pickup): fix list not loading until visible on mount
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupLocationCarrierGroup.vue
Owners: @myparcelnl/frontend

test: add test case for carrier overriding dropOffDays
  apps/delivery-options/src/utils/calculateCutoffTime.spec.ts
Owners: @myparcelnl/frontend

fix: support drop off weekdays as string
  apps/delivery-options/src/utils/calculateCutoffTime.spec.ts
  apps/delivery-options/src/utils/calculateCutoffTime.ts
Owners: @myparcelnl/frontend

refactor: define slots
  apps/sandbox/src/components/base/SandboxCheckboxGroupInput.vue
Owners: @myparcelnl/frontend

feat: add pudo countries for postnl (#205)
  src/data/carriers/postNlCarrierConfiguration.js
  tests/unit/delivery-options/__snapshots__/carrierConfigurationFactory.spec.js.snap
Owners: @myparcelnl/frontend

fix: show evening delivery
  src/delivery-options/data/delivery/dependencies/formatDeliveryMoment.js
Owners: @myparcelnl/frontend

fix: test
  tests/unit/delivery-options/delivery/deliveryMoment.spec.js
Owners: @myparcelnl/frontend

feat(pickup): add pudo countries
  libs/shared/src/config/getMyParcelConfig.ts
Owners: @myparcelnl/frontend

refactor: move loading functionality into composable
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupLocationCarrierGroup.vue
  libs/shared/src/composables/index.ts
  libs/shared/src/composables/useLoadMore.spec.ts
  libs/shared/src/composables/useLoadMore.ts
Owners: @myparcelnl/frontend

feat(sandbox): add more sample addresses
  apps/sandbox/src/components/SandboxAddressBox.vue
  apps/sandbox/src/composables/useAddressSelector.ts
Owners: @myparcelnl/frontend

fix: fix dpd not working
  apps/delivery-options/src/utils/calculatePackageType.ts
  apps/delivery-options/src/utils/createGetDeliveryOptionsParameters.ts
  apps/delivery-options/src/utils/index.ts
Owners: @myparcelnl/frontend

test: update snapshots
  apps/delivery-options/src/__snapshots__/index.spec.ts.snap
  libs/shared/src/utils/__snapshots__/getPlatformConfig.spec.ts.snap
Owners: @myparcelnl/frontend

test: add test for dpd workaround
  apps/delivery-options/src/utils/createGetDeliveryOptionsParameters.spec.ts
Owners: @myparcelnl/frontend

docs: update readme
  README.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

chore: update ide files
  .idea/vcs.xml
Owners: @myparcelnl/frontend

chore(release)!: release v6.0
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/push.yml
  .github/workflows/test.yml
  README.md
  apps/delivery-options/private/getSharedConfig.ts
  apps/delivery-options/src/types/index.ts
  apps/sandbox/vite.config.ts
  nx.json
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

docs: make the changelog readable again
  apps/delivery-options/CHANGELOG.md
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): update ghp deploy step
  .github/workflows/push.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(sandbox): fix urls to translations
  apps/sandbox/src/composables/useLanguage.ts
  apps/sandbox/src/utils/createAssetUrl.spec.ts
  apps/sandbox/src/utils/createAssetUrl.ts
Owners: @myparcelnl/frontend

fix(style): remove excess styles from bundle
  apps/delivery-options/skip-scss-plugin.ts
  apps/delivery-options/vite-myparcel-lib.config.ts
  apps/delivery-options/vite-myparcel.config.ts
Owners: @myparcelnl/frontend

build(gha): switch to daily scheduled release flow
  .github/workflows/--rebase-prs.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: add codecov bundler plugin
  apps/delivery-options/package.json
  apps/delivery-options/vite-myparcel-lib.config.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): fix errors in actions
  .github/workflows/push.yml
  .github/workflows/rebase-prs.yml
  .github/workflows/release.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend
