Repository myparcelnl/delivery-options, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/frontend, @myparcelnl/integration, @myparcelnl/it-support

.github/CODEOWNERS:

# --- Only frontend developers ---
*  @myparcelnl/frontend

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Exceptions ---
# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support

feat(design): update pickup list selector design
  apps/delivery-options/src/composables/index.ts
  apps/delivery-options/src/composables/useOptionsGroupedByCarrier.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryMomentSelector/DeliveryMomentCarrierGroup.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryMomentSelector/DeliveryMomentInput.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/DeliveryOptionsForm/DeliveryOptionsForm.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupListInput.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupLocationCarrierGroup.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupLocationList.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationOpeningHours/PickupLocationOpeningHours.vue
  libs/shared/src/components/CarrierBox.vue
  libs/shared/src/components/index.ts
  libs/shared/src/data/settingsConsts.ts
Owners: @myparcelnl/frontend

chore: update ide files
  .idea/codeStyles/Project.xml
  .idea/delivery-options.iml
Owners: @myparcelnl/frontend

perf: reduce bundle size
  apps/delivery-options/postcss.config.js
  apps/delivery-options/src/utils/getComponent.ts
  apps/delivery-options/src/utils/index.ts
  apps/sandbox/src/components/SelectInput.spec.ts
  apps/sandbox/src/components/SelectInput.vue
  apps/sandbox/src/components/form/input/FormSelectInput.vue
  libs/shared/src/components/SelectInputOrSingle.vue
  libs/shared/src/components/index.ts
Owners: @myparcelnl/frontend

refactor: use isCustomEvent in more places
  apps/delivery-options/src/composables/events/useDeliveryOptionsIncomingEvents.ts
  apps/delivery-options/src/main.ts
  apps/delivery-options/src/utils/index.ts
  apps/delivery-options/src/utils/isCustomEvent.ts
  apps/sandbox/src/DebugEventLog.vue
  libs/shared/src/utils/index.ts
  libs/shared/src/utils/isCustomEvent.ts
Owners: @myparcelnl/frontend

fix: improve rendering via events behavior
  apps/delivery-options/src/config/getDefaultConfigForPlatform.ts
  apps/delivery-options/src/main.spec.ts
  apps/delivery-options/src/main.ts
  apps/delivery-options/src/types/events.types.ts
  apps/delivery-options/src/utils/getDefaultAddress.ts
  apps/delivery-options/src/utils/index.ts
  apps/delivery-options/src/utils/showDeveloperInfo.ts
  apps/delivery-options/vite.config.ts
Owners: @myparcelnl/frontend

refactor(pickup): improve marker code
  apps/delivery-options/src/components/map/LeafletMarker/LeafletMarker.vue
Owners: @myparcelnl/frontend

feat(pickup): make selected location visible when coming from map
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupLocationList.vue
Owners: @myparcelnl/frontend

fix(pickup): mark initial location as active when switching to map
  apps/delivery-options/src/components/map/LeafletMarker/LeafletMarker.vue
Owners: @myparcelnl/frontend

refactor: fix broken imports
  apps/delivery-options/src/config/__snapshots__/getDefaultConfigForPlatform.spec.ts.snap
  libs/shared/src/__tests__/mocks/delivery-options/getNextDeliveryOption.spec.ts
  libs/shared/src/components/CarrierBox.vue
  libs/shared/src/components/SelectInput.vue
  libs/shared/src/composables/useClickOutside.ts
Owners: @myparcelnl/frontend

feat(pickup): export location distance
  apps/delivery-options/src/composables/fullPickupLocation.ts
  libs/shared/src/types/output.types.ts
Owners: @myparcelnl/frontend

refactor: improve and fix shared tests
  apps/delivery-options/src/__tests__/getDeliveryOption.spec.ts
  apps/delivery-options/src/__tests__/mocks/delivery-options/index.ts
  apps/delivery-options/src/__tests__/mocks/entries/getDeliveryOptionsEntry.ts
  apps/delivery-options/src/__tests__/mocks/entries/getShipmentOptions.ts
  apps/delivery-options/src/__tests__/mocks/entries/getTimeframe.ts
  apps/delivery-options/src/__tests__/mocks/findExtraDelivery.ts
  apps/delivery-options/src/__tests__/mocks/getDropOffDay.ts
  apps/delivery-options/src/__tests__/mocks/getNextDeliveryOption.ts
  apps/delivery-options/src/__tests__/mocks/index.ts
  apps/delivery-options/src/__tests__/mocks/shouldSkipToNextDeliveryDate.ts
  apps/delivery-options/src/__tests__/utils/getFakePickupLocation.ts
  apps/delivery-options/src/__tests__/vitest-setup.ts
  apps/delivery-options/vite.config.ts
  apps/sandbox/vite.config.ts
  libs/shared/src/__tests__/mocks/fakeCarriersResponse.ts
  libs/shared/src/__tests__/mocks/fakeDeliveryOptionsResponse.ts
  libs/shared/src/__tests__/mocks/fakePickupLocationsResponse.ts
  libs/shared/src/__tests__/mocks/index.ts
  libs/shared/src/__tests__/mocks/mockGetCarrier.ts
  libs/shared/src/__tests__/mocks/mockGetCarriers.ts
  libs/shared/src/__tests__/mocks/mockGetDeliveryOptions.ts
  libs/shared/src/__tests__/mocks/mockGetPickupLocations.ts
  libs/shared/src/__tests__/vitest-setup.ts
  libs/shared/src/composables/sdk/useCarriersRequest.spec.ts
  libs/shared/src/composables/sdk/useRequest.spec.ts
  libs/shared/src/composables/sdk/useRequest.ts
  libs/shared/src/composables/sdk/useRequestStorage.ts
  libs/shared/src/composables/useFullCarrier.spec.ts
  libs/shared/src/utils/__snapshots__/getPlatformConfig.spec.ts.snap
  libs/shared/src/utils/createStorableMap.ts
  libs/shared/src/utils/index.ts
Owners: @myparcelnl/frontend

fix(pickup): fix error when switching from delivery to pickup
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupLocationList.vue
Owners: @myparcelnl/frontend

chore: update ide config
  .idea/codeStyles/Project.xml
Owners: @myparcelnl/frontend

fix(design): improve date select design
  apps/delivery-options/src/components/common/DoButton/DoButton.vue
  apps/delivery-options/src/components/common/IconButton/IconButton.vue
  apps/delivery-options/src/components/common/index.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryDateSelector/DateBlock.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryDateSelector/DateSelector.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryDateSelector/DeliveryDateSelector.vue
  apps/sandbox/src/components/LanguageSwitcher.vue
  libs/shared/src/components/Loader.ts
  libs/shared/src/components/SelectInput.vue
  libs/shared/src/data/constants.ts
Owners: @myparcelnl/frontend

refactor(pickup): improve logic
  apps/delivery-options/src/composables/events/useResolvedValues.ts
  apps/delivery-options/src/composables/fullPickupLocation.ts
  apps/delivery-options/src/composables/useSelectedFullPickupLocation.ts
  apps/delivery-options/src/composables/useSelectedPickupLocation.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationInput/PickupLocationInput.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupLocationList.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationMap/PickupLocationMap.vue
Owners: @myparcelnl/frontend

feat: add initial myparcel.js usage
  apps/delivery-options/index.html
  apps/delivery-options/package.json
  apps/delivery-options/src/assets/base.scss
  apps/delivery-options/src/env.d.ts
  apps/delivery-options/src/main.ts
  apps/delivery-options/src/utils/isCustomEvent.ts
  apps/delivery-options/src/utils/showDeveloperInfo.ts
  apps/delivery-options/tailwind.config.ts
  apps/delivery-options/vite-myparcel-lib.config.ts
  apps/delivery-options/vite-myparcel.config.ts
  apps/delivery-options/vite.config.ts
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: remove unused files
  apps/delivery-options/src/config/index.ts.bak
  apps/delivery-options/src/data/index.ts.bak
  apps/delivery-options/src/stores/index.ts.bak
  apps/delivery-options/src/types/index.ts.bak
Owners: @myparcelnl/frontend

fix(pickup): make pickup respond to locale change
  apps/delivery-options/src/components/map/LeafletMarker/LeafletMarker.vue
  apps/delivery-options/src/composables/events/useResolvedValues.ts
  apps/delivery-options/src/composables/useFormatDistance.ts
  apps/delivery-options/src/composables/usePickupLocation.ts
  apps/delivery-options/src/composables/useResolvedPickupLocations.ts
  apps/delivery-options/src/composables/useSelectedPickupLocation.ts
  apps/delivery-options/src/types/form.types.ts
  apps/delivery-options/src/utils/getPickupLocationType.ts
  apps/delivery-options/src/utils/waitForRequestData.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupLocationList.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupLocationListItem.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupLocationListWrapper.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupLocationName.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationMap/PickupLocationDetails.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationMap/PickupLocationMap.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationMap/PickupLocationMapWrapper.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationMapMarker/PickupLocationMapMarker.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationOpeningHours/PickupLocationOpeningHours.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocations.vue
  libs/shared/src/types/output.types.ts
Owners: @myparcelnl/frontend

docs: update readme
  README.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

build(gha): fix translations step
  .github/workflows/push.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: fix date options translations not being reactive
  apps/delivery-options/src/composables/useDateFormat.spec.ts
  apps/delivery-options/src/composables/useFormatDistance.spec.ts
  apps/delivery-options/src/composables/useLanguage.ts
  apps/delivery-options/src/composables/usePickupLocation.spec.ts
  apps/delivery-options/src/composables/useShipmentOptionsOptions.ts
  apps/delivery-options/src/stores/index.ts
  apps/delivery-options/src/stores/useI18nStore.ts
  libs/shared/src/data/getDefaultDeliveryOptionsConfig.ts
Owners: @myparcelnl/frontend

refactor: rename file to match export
  apps/delivery-options/src/composables/index.ts
  apps/delivery-options/src/composables/usePickupLocation.spec.ts
  apps/delivery-options/src/composables/usePickupLocation.ts
  apps/delivery-options/src/composables/useSelectedPickupLocation.ts
Owners: @myparcelnl/frontend

feat(carriers): filter and sort carriers
  apps/delivery-options/src/composables/useActiveCarriers.spec.ts
  apps/delivery-options/src/composables/useActiveCarriers.ts
  libs/shared/src/data/constants.ts
  libs/shared/src/utils/index.ts
  libs/shared/src/utils/resolveCarrierName.ts
  libs/shared/src/utils/splitCarrierIdentifier.ts
Owners: @myparcelnl/frontend

refactor: clean up release config
  apps/delivery-options/release.config.cjs
Owners: @myparcelnl/frontend

fix(pickup): make opening hours respond to locale changes
  apps/delivery-options/src/composables/useDateFormat.ts
  apps/delivery-options/src/composables/useLanguage.ts
  apps/delivery-options/src/stores/useConfigStore.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationOpeningHours/PickupLocationOpeningHours.vue
Owners: @myparcelnl/frontend

build(gha): add working directory to semantic release
  .github/workflows/push.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

perf: only use resolved carriers in delivery options
  apps/delivery-options/src/composables/fullPickupLocation.ts
  libs/shared/src/utils/getFullCarrier.spec.ts
Owners: @myparcelnl/frontend

chore: update ide files
  .idea/codeStyles/Project.xml
Owners: @myparcelnl/frontend

feat(events): add show and hide events
  apps/delivery-options/src/data/events.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/MyParcelDeliveryOptions.vue
Owners: @myparcelnl/frontend

refactor(pickup): rename location code props
  apps/delivery-options/src/composables/events/convertOutput.ts
  apps/delivery-options/src/composables/usePickupLocation.spec.ts
  apps/delivery-options/src/composables/usePickupLocation.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupLocationDetails.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupLocationList.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupLocationListItem.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupLocationName.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationMap/PickupLocationDetails.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationMap/PickupLocationMap.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationMapMarker/PickupLocationMapMarker.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationOpeningHours/PickupLocationOpeningHours.vue
Owners: @myparcelnl/frontend

fix(pickup): fix details not being refreshed when using map
  apps/delivery-options/src/__tests__/mocks/delivery-options/getNextDeliveryOption.ts
  apps/delivery-options/src/composables/events/convertOutput.ts
  apps/delivery-options/src/composables/usePickupLocation.ts
  apps/delivery-options/src/utils/createCarrierMarkerIcon.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupLocationListItem.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationList/PickupLocationName.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationMap/PickupLocationDetails.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationMapMarker/PickupLocationMapMarker.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationOpeningHours/PickupLocationOpeningHours.vue
  libs/shared/src/components/CarrierLogo.vue
  libs/shared/src/composables/useFullCarrier.ts
Owners: @myparcelnl/frontend

refactor: add missing type
  libs/shared/src/utils/getConfigKey.ts
Owners: @myparcelnl/frontend

test: fix date format test
  apps/delivery-options/src/composables/useDateFormat.spec.ts
  apps/delivery-options/src/composables/useDateFormat.ts
Owners: @myparcelnl/frontend

fix: improve marker events
  apps/delivery-options/src/components/map/LeafletMarker/LeafletMarker.vue
  apps/delivery-options/src/composables/index.ts
  apps/delivery-options/src/composables/useLeaflet.ts
  apps/delivery-options/src/types/map.types.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryDateSelector/DateBlock.vue
  apps/sandbox/src/components/CButton.vue
  libs/shared/src/composables/useClickOutside.ts
  libs/shared/src/data/enums.ts
Owners: @myparcelnl/frontend

refactor: fix tests and improve code
  apps/delivery-options/src/composables/useDateFormat.spec.ts
  apps/delivery-options/src/composables/useDateFormat.ts
  apps/delivery-options/src/composables/useFormatDistance.spec.ts
  apps/delivery-options/src/composables/useTimeRange.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryDateSelector/DateBlock.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryDateSelector/DeliveryDateSelector.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/MyParcelDeliveryOptions.spec.ts
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Pickup/PickupLocationOpeningHours/PickupLocationOpeningHours.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/__snapshots__/MyParcelDeliveryOptions.spec.ts.snap
Owners: @myparcelnl/frontend

chore: remove obsolete tsconfig
  tsconfig.json
  tsconfig.paths.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: make lib filename match the old one
  apps/delivery-options/vite-myparcel-lib.config.ts
Owners: @myparcelnl/frontend

build: add cssnano dependency
  apps/delivery-options/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat(design): update delivery moment selector design
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryMomentSelector/DeliveryMomentCarrierGroup.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryMomentSelector/DeliveryMomentInput.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/DeliveryMomentSelector/DeliveryMomentSelector.vue
  apps/delivery-options/src/views/MyParcelDeliveryOptions/Delivery/HomeDelivery.vue
  libs/shared/src/components/CarrierLogo.vue
Owners: @myparcelnl/frontend

build: prepare for release
  .github/workflows/push.yml
  CHANGELOG.md
  apps/delivery-options/CHANGELOG.md
  apps/delivery-options/package.json
  apps/delivery-options/release.config.cjs
  libs/build-vite/package.json
  libs/shared/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend
