Repository myparcelnl/delivery-options, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/frontend, @myparcelnl/integration, @myparcelnl/it-support

.github/CODEOWNERS:

# --- Only frontend developers ---
*  @myparcelnl/frontend

# --- Both integration and frontend developers ---
*.json  @myparcelnl/integration @myparcelnl/frontend
*.md    @myparcelnl/integration @myparcelnl/frontend
*.yml   @myparcelnl/integration @myparcelnl/frontend

# Css and related file types
*.css   @myparcelnl/integration @myparcelnl/frontend
*.sass  @myparcelnl/integration @myparcelnl/frontend
*.scss  @myparcelnl/integration @myparcelnl/frontend
*.styl  @myparcelnl/integration @myparcelnl/frontend

# HTML and HTML-like
*.hbs   @myparcelnl/integration @myparcelnl/frontend
*.html  @myparcelnl/integration @myparcelnl/frontend
*.tpl   @myparcelnl/integration @myparcelnl/frontend
*.twig  @myparcelnl/integration @myparcelnl/frontend

# Images
*.jpeg  @myparcelnl/integration @myparcelnl/frontend
*.jpg   @myparcelnl/integration @myparcelnl/frontend
*.png   @myparcelnl/integration @myparcelnl/frontend
*.svg   @myparcelnl/integration @myparcelnl/frontend

# --- Exceptions ---
# Include IT support for readme changes
readme.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support
README.md  @myparcelnl/integration @myparcelnl/frontend @myparcelnl/it-support

build: add sourcemaps when building locally
  apps/delivery-options/package.json
  apps/delivery-options/vite-myparcel-lib.config.ts
  apps/delivery-options/vite-myparcel.config.ts
  apps/delivery-options/vite.config.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): run pr title validation on each commit
  .github/workflows/pull-request-title.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): rename workflow
  .github/workflows/pull-request-title.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(gha): use quotes in group
  .github/workflows/pull-request-open.yml
  .github/workflows/pull-request-review.yml
  .github/workflows/pull-request-title.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
  .github/workflows/run-tests.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

build(nx): improve cache busting
  nx.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore(deps): dedupe radash
  apps/delivery-options/package.json
  apps/sandbox/package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(build): fix typescript error when importing delivery options
  apps/delivery-options/private/getSharedConfig.ts
  apps/sandbox/vite.config.ts
  libs/build-vite/index.d.ts
  libs/build-vite/index.js
  libs/shared/package.json
  libs/shared/src/data/constants.ts
  libs/shared/vite.config.ts
  libs/shared/vitest.config.ts
  package.json
  tsconfig.base.json
Owners: @myparcelnl/frontend, @myparcelnl/integration

build(gha): run same checks on push, pr and release
  .github/workflows/bundlewatch.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
  .github/workflows/run-tests.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: add missing import
  apps/delivery-options/src/types/index.ts
Owners: @myparcelnl/frontend

build: fix netlify previews
  apps/sandbox/vite.config.ts
Owners: @myparcelnl/frontend
